/*
  Copyright 2005-2006 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/

/* Bright sky-blue/orange links. */
@import url(links.css);
@import url(header.css);

body {
  background: #FFFFFF;
  color: #000000;
}

/* Search box */
#sidebar #search #search-text #q {
  background-color: #75689D;
  color: #FFFFFF;
  font-weight: bold;
  padding: 1px;
}

/* Markers on sidebar menus. */
#sidebar #menu ul li h4 a {
  border-left-color: #75689D;
  border-right-color: #75689D;
}
