RewriteEngine On
RewriteBase /development

# Redirect to the canonical URL.

RewriteCond %{HTTP_HOST} ^boost\.org [NC]
RewriteRule ^.*$ http://www\.boost\.org%{REQUEST_URI} [R=301]

#~  Locally available regression result archives.
RewriteRule ^tests$ tests/ [R]
RewriteRule ^tests/([^/]+)/([^/]+)/$ tests/$1/$2/index.html [R]
RewriteRule ^tests/(.*)$ testing_results.php/$1 [L]

#~  Web site self checks.
RewriteRule ^webcheck$ webcheck/index.html [R]
RewriteRule ^webcheck/$ webcheck/index.html [R]
RewriteRule ^webcheck/(.*)$ webcheck_results.php/$1 [L]

RewriteRule ^borland_cpp\.html$ https://svn.boost.org/trac/boost/wiki/Guidelines/Borland [R]
RewriteRule ^header\.html$ https://svn.boost.org/trac/boost/wiki/Guidelines/Header [R]
RewriteRule ^int_const_guidelines\.html$ https://svn.boost.org/trac/boost/wiki/Guidelines/IntegralConstants [R]
RewriteRule ^requirements\.html$ https://svn.boost.org/trac/boost/wiki/Guidelines/Requirements [R]
RewriteRule ^reuse\.html$ https://svn.boost.org/trac/boost/wiki/Guidelines/Reuse [R]
RewriteRule ^separate_compilation\.html$ https://svn.boost.org/trac/boost/wiki/Guidelines/Separate [R]
RewriteRule ^test\.html$ https://svn.boost.org/trac/boost/wiki/Guidelines/Test [R]
