RewriteEngine On
RewriteBase /development

#~  Locally available regression result archives.
RewriteRule ^tests$ tests/index.html [R]
RewriteRule ^tests/([^/]+)/([^/]+)/$ tests/$1/$2/index.html [R]
RewriteRule ^tests/(.*)$ testing_results.php/$1 [L]

#~  Web site self checks.
RewriteRule ^webcheck$ webcheck/ [R]
RewriteRule ^webcheck/(.*)$ webcheck_results.php/$1 [L]
