AddType text/html .shtml
AddOutputFilter INCLUDES .shtml
AddOutputFilter INCLUDES .html

AddType text/x-component .htc

DirectoryIndex index.php index.shtml index.html

RewriteEngine On
RewriteBase /

########## Redirect to the canonical URL.

RewriteCond %{HTTP_HOST} ^boost\.org [NC]
RewriteRule ^.*$ http://www\.boost\.org%{REQUEST_URI} [R=301]

########## Rewrites to serve up dynamic RSS feeds.

RewriteRule ^users/news/([-\w]+)$ users/news/entry.php/$1 [L]
RewriteRule ^users/download/([-\w]+)$ users/download/entry.php/$1 [L]
RewriteRule ^users/history/([-\w]+)$ users/history/entry.php/$1 [L]

########## Rewrites to serve up "sub-projects".

RewriteRule ^boost-build2$ boost-build2/index.html [R]
RewriteRule ^boost-build2/$ boost-build2/index.html [R]
RewriteRule ^boost-build2/doc/html/bbv2/advanced/(.*)$ boost-build2/doc/html/bbv2/overview/$1 [R]
RewriteRule ^boost-build2/(boost-build[.]tar[.]bz2)$ common/code/boost_download.php/$1 [L]
RewriteRule ^boost-build2/(boost-build[.]zip)$ common/code/boost_download.php/$1 [L]
RewriteRule ^boost-build2/(.*) doc/display_build.php/boost-build/boost-build/$1 [L]

########## Rewrite rules to support the regression test links from the old site.

#~ RewriteRule ^regression/(.+)\.cpp$ http://cvs.sourceforge.net/cgi-bin/viewcvs.cgi/boost/boost/$1.cpp?rev=HEAD&content-type=text/vnd.viewcvs-markup [R,L]
RewriteRule ^regression/developement(/.*) development/tests/trunk$1 [R=permanent,L]
RewriteRule ^regression/release(/.*) http://engineering.meta-comm.com/boost-regression/1_34_1$1 [R,L]
RewriteRule ^regression/trunk(/.*) development/tests/trunk$1 [R=permanent,L]
RewriteRule ^regression-logs/?$ development/testing.html [R=permanent,L]

########## Shorter names for URL that must be printed during build process

RewriteRule ^getting_started_unix.html doc/libs/release/more/getting_started/unix-variants.html
RewriteRule ^getting_starged_windows.html doc/libs/release/more/getting_started/windows.html

########## Rewrite old site links to new locations.

# The boost header subdir, goes to the docs. Note, mod_rewrite is broken in some
# Apache versions. So we have to handle a rather strange translation of boost.png
# as a dir because it's somehow hardwired to replace /boost/* with /boost.png/*
# before *any* rewrite rules are checked. Which is just nasty!!
RewriteRule ^boost([.]png)?/(.*) doc/libs/release/boost/$2 [R=permanent,L]
# The libs subdirs
RewriteRule ^libs(/.*)?$ doc/libs/release/libs$1 [R=permanent,L]
# The people pages
RewriteRule ^people/people.htm users/people.html [R=permanent,L]
RewriteRule ^people/?$ users/people.html [R=permanent,L]
RewriteRule ^people/([^.]+) users/people/$1.html [R=permanent,L]
# The status pages, all go to the testing intro
RewriteRule ^status(.*) development/testing.html [R=permanent,L]
# The tools pages (todo)
RewriteRule ^tools(/.*)?$ doc/tools$1 [R=permanent,L]
# The wiki
RewriteRule ^wiki/?$ http://svn.boost.org/trac/boost [R,L]
# The various extra docs, in more subdir.
RewriteRule ^more/background.html users/index.html [R=permanent,L]
RewriteRule ^more/bibliography.html users/bibliography.html [R=permanent,L]
RewriteRule ^more/bugs.htm support/bugs.html [R=permanent,L]
RewriteRule ^more/count_bdy.htm community/counted_body.html [R=permanent,L]
RewriteRule ^more/cpp_committee_meetings.html community/committee.html [R=permanent,L]
RewriteRule ^more/cvs.html users/download/#repository [R=permanent,L]
RewriteRule ^more/discussion_policy.htm community/policy.html [R=permanent,L]
RewriteRule ^more/error_handling.html community/error_handling.html [R=permanent,L]
RewriteRule ^more/faq.htm users/faq.html [R=permanent,L]
RewriteRule ^more/feature_model_diagrams.html? community/feature_model_diagrams.html [R=permanent,L]
RewriteRule ^more/formal_review_process.htm community/reviews.html [R=permanent,L]
RewriteRule ^more/formal_review_schedule.html community/review_schedule.html [R=permanent,L]
RewriteRule ^more/generic_exception_safety.html community/exception_safety.html [R=permanent,L]
RewriteRule ^more/generic_programming.html community/generic_programming.html [R=permanent,L]
RewriteRule ^more/getting_started/(.*) doc/libs/release/more/getting_started/$1 [R=permanent,L]
RewriteRule ^more/getting_started(\.html)? doc/libs/release/more/getting_started/index.html [R=permanent,L]
RewriteRule ^more/headers?.htm development/header.html [R=permanent,L]
RewriteRule ^more/imp_vars.htm community/implementation_variations.html [R=permanent,L]
RewriteRule ^more/int_const_guidelines.htm development/int_const_guidelines.html [R=permanent,L]
RewriteRule ^more/lib_guide.htm development/requirements.html [R=permanent,L]
RewriteRule ^more/library_reuse.htm development/reuse.html [R=permanent,L]
RewriteRule ^more/license_info.html users/license.html [R=permanent,L]
RewriteRule ^more/links.htm community/cpp.html [R=permanent,L]
RewriteRule ^more/mailing_lists.htm community/groups.html [R=permanent,L]
RewriteRule ^more/moderators.html community/moderators.html [R=permanent,L]
RewriteRule ^more/proposal.pdf users/proposal.pdf [R=permanent,L]
RewriteRule ^more/regression.html development/testing.html [R=permanent,L]
RewriteRule ^more/release_mgr_checklist.html http://svn.boost.org/trac/boost/wiki/ReleasePractices/ManagerCheckList [R,L]
RewriteRule ^more/release_procedures.htm http://svn.boost.org/trac/boost/wiki/ReleasePractices/Procedures [R,L]
RewriteRule ^more/report-apr-2006.html development/report-apr-2006.html [R=permanent,L]
RewriteRule ^more/report-jan-2006.html development/report-jan-2006.html [R=permanent,L]
RewriteRule ^more/requesting_new_features.htm community/requests.html [R=permanent,L]
RewriteRule ^more/separate_compilation.html development/separate_compilation.html [R=permanent,L]
RewriteRule ^more/submission_process.htm development/submissions.html [R=permanent,L]
RewriteRule ^more/test_policy.htm development/test.html [R=permanent,L]
RewriteRule ^more/updating_the_website.html development/website_updating.html [R=permanent,L]
RewriteRule ^more/version_history.html users/history/ [R=permanent,L]
RewriteRule ^more/writingdoc/(.*) doc/libs/release/more/writingdoc/$1 [R=permanent,L]
RewriteRule ^more(/.*)?$ users/index.html [R=permanent,L]
# The license file. (This link was never correct, but it's common enough to require a redirect).
RewriteRule ^LICENSE-1.0$ LICENSE_1_0.txt [R=permanent,L]
