AddType text/html .shtml
AddOutputFilter INCLUDES .shtml
AddOutputFilter INCLUDES .html

DirectoryIndex index.php index.shtml index.html

RewriteEngine On
RewriteBase /
RewriteRule ^users/news/([0-9a-f]{32})$ users/news/entry.php/$1 [L]
RewriteRule ^users/download/([0-9a-f]{32})$ users/download/entry.php/$1 [L]
RewriteRule ^users/history/([0-9a-f]{32})$ users/history/entry.php/$1 [L]
