/*
  Style sheet for customizing the Boost Trac at svn.boost.org
  */


/*----------------------------------------------------------------------------
                                   Table
-----------------------------------------------------------------------------*/


    .wikipage table
    {
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
        border: 0px;
    }

    .wikipage table tr th
    {
        margin: 2px;
        margin-bottom: 8px;
        padding: 0.5em;
        padding-top: 10px;
        padding-bottom: 0px;
        background-color: #F8F8F8;
        border: 1px solid #ECECEC;
    }

    .wikipage table tr th p
    {
        font-size: 10pt;
        text-align: center;
        line-height: 1.2;
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
    }

    .wikipage table tr td
    {
        margin: 2px;
        padding: 0.5em;
        padding-top: 10px;
        padding-bottom: 0px;
        background-color: white;
        border: 1px solid #ECECEC;
    }

    .wikipage table tr td p
    {
        text-align: left;
        font-size: 10pt;
        line-height: 1.2;
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
    }

    .wikipage table:hover tr th
    {
        background-color: #E3F9E4;
    }

    .wikipage table:hover tr td
    {
        background-color: #FAFFFB;
    }

