${
from boost_site.util import htmlencode
}$            <div class="section-body">
              <ul class="toc">
${
for x in downloads:
    emit('<li><a href="#%s">%s</a></li>\n' % (x['anchor'], x['label']))
}$
                <li><a href="#history">Old Boost Releases</a></li>

                <li><a href="#repository">Subversion Repository</a></li>
              </ul>
${
for x in downloads:
    emit('<h2 id="%s">%s</h2>' % (x['anchor'], x['label']))
    for entry in x['entries']:
        emit('\n')
        emit('              <h3><span class=\n              "news-title">%s</span></h3>\n\n' % entry.full_title_xml)
        emit('              <p class="news-date">%s</p>\n\n' % entry.web_date())
        emit('              <p class="news-description">\n')
        emit('              <span class="brief"><span class="purpose">%s</span></span></p>\n\n' % entry.purpose_xml)
        emit('<ul class="menu">\n')
        emit('<li>')
        emit('<a href="/%s">Details</a>' % htmlencode(entry.location))
        emit('</li>\n')
        if(entry.download_item):
            emit('<li>')
            emit('<a href="%s">Download</a>' % htmlencode(entry.download_item))
            emit('</li>\n')
        if(entry.documentation):
            emit('<li>')
            emit('<a href="%s">Documentation</a>' % htmlencode(entry.documentation))
            emit('</li>\n')
        emit('</ul>\n')
}$

              <h2><a name="history" id="history"></a>Old Boost Releases</h2>

              <p>Old versions of boost can be found on the <a href=
              "/users/history/">version history</a> page or from <a class=
              "external" href=
              "http://sourceforge.net/projects/boost/files/">the
              sourceforge download page</a>.</p>

              <h2><a name="repository" id="repository"></a>Subversion
              Repository</h2>

              <p>Boost uses <a class="external" href=
              "http://subversion.tigris.org/">Subversion</a> to manage all of
              the data associated with Boost's development, including the
              source code to Boost, documentation for Boost libraries, and
              the Boost web site.</p>

              <h3>Accessing the Boost Subversion Repository</h3>

              <p>The Subversion repository can be accessed in several
              ways:</p>

              <ul>
                <li>Anonymous, read-only access to the Boost Subversion
                repository is available at <a href=
                "http://svn.boost.org/svn/boost">http://svn.boost.org/svn/boost</a>.
                To access the current Boost development code, for instance,
                one would check out from <a href=
                "http://svn.boost.org/svn/boost/trunk">http://svn.boost.org/svn/boost/trunk</a>.
                For example, using the command-line <tt>svn</tt>, one might
                use:
                  <pre>
svn co <a href=
"http://svn.boost.org/svn/boost/trunk">http://svn.boost.org/svn/boost/trunk</a> boost-trunk
</pre>
                </li>

                <li>On Windows, <a href=
                "http://tortoisesvn.tigris.org/">TortoiseSVN</a> provides an
                easy-to-use, graphical interface to Subversion.</li>
              </ul>

              <h3>Organization of the Boost Subversion Repository</h3>

              <p>The Boost Subversion repository is organized into several
              top-level directories, reflecting various stages of Boost
              library development and subtasks within the Boost community. We
              have the following top-level directories:</p>

              <ul>
                <li><tt>trunk</tt>: Contains the latest "development" version
                of Boost.</li>

                <li><tt>sandbox</tt>: Contains libraries and tools that are
                under active development and have not yet been reviewed or
                accepted into Boost. See <a href=
                "http://svn.boost.org/trac/boost/wiki/BoostSandbox">BoostSandbox</a>
                for information about organization of the sandbox.</li>

                <li><tt>website</tt>: Contains the upcoming Boost web site,
                which is not yet live.</li>

                <li><tt>branches</tt>: Contains various branches of Boost
                libraries, typically for release branches and for non-trivial
                changes to Boost libraries that need to be made separately
                from the trunk.</li>

                <li><tt>tags</tt>: Contains "tags" that mark certain points
                in the source tree, such as particular Boost releases.</li>
              </ul>
            </div>
