/*
  Copyright 2006 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* All about link/anchors ("A") elements. It's all here in one file
   to facilitate trying out multiple variants. And to help
   keep them consistent across all contexts. */
#content a.internal,
#content a.external {
  text-decoration: none;
  color: #000000;
}

/* Links, in the content section div, i.e. text. */
#content .section a {
  color: #2070A0;
}
#content .section a:hover {
  color: #6B9D68;
  border-bottom: 1px solid #BBBBBB;
}
#content .section a:visited:hover {
  border-bottom: 1px dotted #BBBBBB;
}
#content .section a.external:hover {
  border-bottom: 1px solid #6B9D68;
}
#content .section a.external:visited:hover {
  border-bottom: 1px dotted #6B9D68;
}
#content .section a[name] {
  border: none;
}
#content .section a[name]:hover {
  color: #000000;
}
#content .section a[name]:visited {
  border: none;
}
#content .section h1 a,
#content .section h2 a,
#content .section h3 a,
#content .section h4 a,
#content .section h5 a,
#content .section h6 a
{
  color: #000000;
}

/* Links in the footer. */
#footer a {
  color: #2070A0;
}
#footer a:hover {
  color: #6B9D68;
  border-bottom: 1px solid #BBBBBB;
}
#footer a:visited:hover {
  border-bottom: 1px dotted #BBBBBB;
}
#footer a.external:hover {
  border-bottom: 1px solid #6B9D68;
}
#footer a.external:visited:hover {
  border-bottom: 1px dotted #6B9D68;
}

/* Links in the header. */
#heading-quote a {
  border-bottom: 1px solid #BBBBBB;
}
#heading-quote a:hover {
  border-bottom: 1px solid #FFFFFF;
}
#heading-quote a:visited {
  border-bottom: 1px dotted #BBBBBB;
}
#heading-quote a:visited:hover {
  border-bottom: 1px dotted #FFFFFF;
}

/* Links in the sidebar */
#sidebar #menu h4 a {
  color: #2070A0;
}
#sidebar #menu h4 a span.link {
  color: #FFFFFF;
}
#sidebar #menu h4 a:hover {
  color: #6B9D68;
}
#sidebar #menu h4 a:hover span.link {
  color: #6B9D68;
}
#sidebar #menu ul li ul a {
  color: #2070A0;
}
#sidebar #menu ul li ul a span.link {
  color: #FFFFFF;
}
#sidebar #menu ul li ul a:hover {
  color: #6B9D68;
}
#sidebar #menu ul li ul a:hover span.link {
  color: #6B9D68;
}

/* The special "Get Boost" button. */
#body #get-boost a {
  color: #2070A0;
}
#body #get-boost a span.link {
  color: #EEEEEE;
  display: none;
}
#body #get-boost a:hover {
  color: #6B9D68;
  background-color: #EEEEEE;
}
#body #get-boost a:hover span.link {
  color: #6B9D68;
}

/* In the content TOCs and MENUs. */
#content .toc a,
#content .menu a
{
  border: none;
}
#content .toc a:hover,
#content .menu a:hover
{
  background: #EEEEEE;
  border: none;
}
#content .toc a:visited,
#content .menu a:visited
{
  border: none;
}
#content .toc a:hover:visited,
#content .menu a:hover:visited
{
  border: none;
}

/* In the documentation TOCs. */
#content div.toc a,
#content table.toc a,
#content dl.index a,
#content dl.page-index a,
#content .section div.contents ul.simple a
{
  border: none;
}
#content div.toc a:hover,
#content table.toc a:hover,
#content dl.index a:hover,
#content dl.page-index a:hover,
#content .section div.contents ul.simple a:hover
{
  background: #EEEEEE;
  border: none;
}
#content div.toc a:visited,
#content table.toc a:visited,
#content dl.index a:visited,
#content dl.page-index a:visited,
#content .section div.contents ul.simple a:visited
{
  border: none;
}
#content div.toc a:hover:visited,
#content table.toc a:hover:visited,
#content dl.index a:hover:visited,
#content dl.page-index a:hover:visited,
#content .section div.contents ul.simple a:hover:visited
{
  border: none;
}

/* In the documentation nav bars. */
#content .spirit-nav a {
  border: none;
}
#content .spirit-nav a:hover {
  border: none;
}
#content .spirit-nav a:visited {
  border: none;
}
#content .spirit-nav a:hover:visited {
  border: none;
}
