RewriteEngine On
RewriteBase /doc

# Redirect to the canonical URL.

RewriteCond %{HTTP_HOST} ^boost\.org [NC]
RewriteRule ^.*$ http://www\.boost\.org%{REQUEST_URI} [R=301]

RewriteRule ^html(/.*)?$ libs/release/doc/html$1 [R=301]

# Always serve up the latest css/image files in doc/html and doc/src
# in release versions.
RewriteRule ^libs/[0-9][^/]*/doc/(?:html|src)/(.*\.css)$ libs/common/doc/src/$1 [L]
RewriteRule ^libs/[0-9][^/]*/doc/(?:html|src)/images/([^/]*)$ libs/common/doc/src/images/$1 [L]
RewriteRule ^libs/[0-9][^/]*/boost.png$ libs/common/boost.png [L]

# Redirect library directories before redirecting to the current version.
# Trying to establish a standard location.
RewriteRule ^libs/release/libs/([^./]+)$ libs/release/libs/$1/ [R=301]
RewriteRule ^libs/development/libs/([^./]+)$ libs/development/libs/$1/ [R=301]

# REDIRECT_UPDATE_START
#
# This section is automatically updated.
# Any edits will be overwritten.
#
# Redirect from symbolic names to current versions.
RewriteRule ^libs/release(/.*)?$ libs/1_80_0$1 [R=303]
RewriteRule ^libs/development(/.*)?$ libs/1_80_0$1 [R=303]
#
# REDIRECT_UPDATE_END

# Rewrite specific versions to the dynamic handlers.
RewriteRule ^libs/(master|develop|latest|[0-9_]+(?:b(?:eta)?[0-9]*|snapshot)?)/?$ libraries.php/$1 [L]
RewriteRule ^libs/$ libraries.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^libs/(master|develop|latest|[0-9_]+(?:b(?:eta)?[0-9]*|snapshot)?)/(.+)$ display_libs.php/$1/$2 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(regression)/(.*)$ display_extra_docs.php/$1/$2 [L]

RewriteRule ^tools(?:\.html)?/(regression)/?(.*)$ /doc/$1/$2 [R=301]
RewriteRule ^(regression)$ /doc/$1/ [R=301]

# Other tools
RewriteRule ^tools(\.html)?/(.*) libs/release/tools/$2 [R]

