RewriteEngine On
RewriteBase /doc

# Redirect to the canonical URL.

RewriteCond %{HTTP_HOST} ^boost\.org [NC]
RewriteRule ^.*$ http://www\.boost\.org%{REQUEST_URI} [R=301]

#~  RewriteRule ^wiki$ wiki/ [R]
#~  RewriteRule ^wiki/(.*)$ wiki.php/$1 [L]
RewriteRule ^html(/.*)?$ libs/release/doc/html$1 [R]

# Redirect from symbolic names to current versions.
RewriteRule ^libs/release(/.*)?$ libs/1_37_0$1 [R]
RewriteRule ^libs/development(/.*)?$ libs/1_37_0$1 [R]

#~  # In case we don't get a file looking URI we send it to the index.html file.
#~  # - With some exceptions.
RewriteCond %{REQUEST_URI} !^/doc/libs/([0-9_]+)/([^.]*[^./])/(Jamroot|Jamfile|ChangeLog)$
RewriteRule ^libs/([0-9_]+)/([^.]*[^./])/?$ libs/$1/$2/index.html [R]

# Rewrite specific versions to the dynamic handlers.
RewriteRule ^libs/([0-9_]+)/?$ libraries.php/$1 [L]
RewriteRule ^libs/([0-9_]+)/(.+)$ display_libs.php/boost_$1/$2 [L]
RewriteRule ^libs/?(.*)$ libraries.php$1 [L]

# Handling of tool documentation.
RewriteRule ^tools(\.html)?/jam/?$ tools/jam/index.html [R]
RewriteRule ^tools(\.html)?/jam/(.*) display_jam.php/boost-jam-3.1.17/$2 [L]
RewriteRule ^tools(\.html)?/build/?$ tools/build/index.html [R]
RewriteRule ^tools(\.html)?/build/(.*) display_build.php/boost-build/boost-build/$2 [L]
RewriteRule ^tools(\.html)?/(.*) libs/release/tools/$2 [R]
