RewriteEngine On
RewriteBase /doc

RewriteRule ^wiki$ wiki/ [R]
RewriteRule ^wiki/(.*)$ wiki.php/$1 [L]

#~ RewriteRule ^libs$ libs/ [R]
RewriteRule ^libs/([0-9_]+)/?$ libraries.php/$1 [L]
RewriteRule ^libs/([0-9_]+)/(.+)$ display.php/$1/$2 [L]

#~ RewriteRule ^release/(.*) display.php/1_33_1/$1 [L]
#~ RewriteRule ^development/(.*) display.php/head/$1 [L]

# The libs that are *not* documented with BoostBook:
#~ RewriteRule ^assign(/)?(index.html)?(.*)$ release/libs/assign/doc$1$2$3 [R]
#~ RewriteRule ^bind/(.*)$ release/libs/bind/$1 [R]
#~ RewriteRule ^bind$ release/libs/bind/bind.html [R]
#~ RewriteRule ^mem_fn$ release/libs/bind/mem_fn.html [R]
#~ RewriteRule ^call_traits$ release/libs/utility/call_traits.htm [R]
#~ RewriteRule ^compatibility(/)?(index.html)?(.*)$ release/libs/compatibility$1$2$3 [R]
#~ RewriteRule ^compressed_pair$ release/libs/utility/compressed_pair.htm [R]
#~ RewriteRule ^concept_check$ release/libs/concept_check/concept_check.htm [R]
#~ RewriteRule ^config$ release/libs/config/config.htm [R]
#~ RewriteRule ^conversion$ release/libs/conversion/index.html [R]
#~ RewriteRule ^crc$ release/libs/crc/index.html [R]
#~ RewriteRule ^dynamic_bitset$ release/libs/dynamic_bitset/dynamic_bitset.html [R]
#~ RewriteRule ^enable_if$ release/libs/utility/enable_if.html [R]
#~ RewriteRule ^filesystem$ release/libs/filesystem/doc/index.htm [R]
#~ RewriteRule ^format$ release/libs/format/index.html [R]
#~ RewriteRule ^functional$ release/libs/functional/index.html [R]
#~ RewriteRule ^functional/hash$ release/doc/html/hash.html [R]
#~ RewriteRule ^graph$ release/libs/graph/doc/table_of_contents.html [R]
#~ RewriteRule ^integer$ release/libs/integer/index.html [R]
#~ RewriteRule ^interval$ release/libs/numeric/interval/doc/interval.htm [R]
#~ RewriteRule ^in_place_factories$ release/libs/utility/in_place_factories.html [R]
#~ RewriteRule ^ios_state$ release/libs/io/doc/ios_state.html [R]
#~ RewriteRule ^iostreams$ release/libs/iostreams/doc/index.html [R]
#~ RewriteRule ^iterator$ release/libs/iterator/doc/index.html [R]
#~ RewriteRule ^math$ release/libs/math/doc/index.html [R]
#~ RewriteRule ^math/common_factor$ release/libs/math/doc/common_factor.html [R]
#~ RewriteRule ^math/octonion$ release/libs/math/octonion/index.html [R]
#~ RewriteRule ^math/quaternion$ release/libs/math/quaternion/index.html [R]
#~ RewriteRule ^math/special_functions$ release/libs/math/special_functions/index.html [R]
#~ RewriteRule ^minmax$ release/libs/algorithm/minmax/index.html [R]
#~ RewriteRule ^mpl$ release/libs/mpl/doc/index.html [R]
#~ RewriteRule ^multi_array$ release/libs/multi_array/doc/index.html [R]
#~ RewriteRule ^multi_index$ release/libs/multi_index/doc/index.html [R]
#~ RewriteRule ^numeric/conversion$ release/libs/numeric/conversion/doc/index.html [R]
#~ RewriteRule ^operators$ release/libs/utility/operators.htm [R]
#~ RewriteRule ^optional$ release/libs/optional/doc/optional.html [R]
#~ RewriteRule ^parameter$ release/libs/parameter/doc/html/index.html [R]
#~ RewriteRule ^ptr_container$ release/libs/ptr_container/doc/ptr_container.html [R]
#~ RewriteRule ^pool$ release/libs/pool/doc/index.html [R]
#~ RewriteRule ^preprocessor$ release/libs/preprocessor/doc/index.html [R]
#~ RewriteRule ^property_map$ release/libs/property_map/property_map.html [R]
#~ RewriteRule ^python$ release/libs/python/doc/index.html [R]
#~ RewriteRule ^random$ release/libs/random/index.html [R]
#~ RewriteRule ^range$ release/libs/range/index.html [R]
#~ RewriteRule ^rational$ release/libs/rational/index.html [R]
#~ RewriteRule ^regex$ release/libs/regex/doc/index.html [R]
#~ RewriteRule ^serialization$ release/libs/serialization/doc/index.html [R]
#~ RewriteRule ^smart_ptr$ release/libs/smart_ptr/smart_ptr.htm [R]
#~ RewriteRule ^spirit$ release/libs/spirit/index.html [R]
#~ RewriteRule ^test$ release/libs/test/doc/index.html [R]
#~ RewriteRule ^timer$ release/libs/timer/index.html [R]
#~ RewriteRule ^tokenizer$ release/libs/tokenizer/index.html [R]
#~ RewriteRule ^tuple$ release/libs/tuple/doc/tuple_users_guide.html [R]
#~ RewriteRule ^ublas$ release/libs/numeric/ublas/doc/index.htm [R]
#~ RewriteRule ^utility$ release/libs/utility/utility.htm [R]
#~ RewriteRule ^value_initialized$ release/libs/utility/value_init.htm [R]
#~ RewriteRule ^wave$ release/libs/wave/index.html [R]

# Everything else is in the BoostBook doc/* subdir of the archives:
#~ RewriteRule ^html([^/]+)[/]?$ release/doc/html/$1.html [R]

# In case we don't get a file looking URI we send it to the index.html file.
#~ RewriteRule ^(release|development)/(boost/[^.]+\.[a-z]+)$ $1/$2 [R,L]
#~ RewriteRule ^(release|development|[0-9_]+)/([^.]+)/?$ $1/$2/index.html [R]

#~ RewriteRule ^release/(.*) display.php/1_33_1/$1 [L]
#~ RewriteRule ^development/(.*) display.php/head/$1 [L]
#~ RewriteRule ^([0-9_]+)/(.*) display.php/$1/$2 [L]
