AuthType Basic
AuthName "Password Required"
AuthUserFile /home/grafik/www.boost.org/passwords-admin.txt
Require user boost

RewriteEngine On
RewriteBase /admin

RewriteRule ^db$ db/ [R]
RewriteRule ^db/(.*)$ /home/phpmyadmin/$1
