/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* */
#content {
  margin: 0em -18.5em 0em 0em;
  float: left;
  width: 100%;
}
/* Content sections, inside the top content section. */
#content .section {
  margin: 0em 17.5em 0em 0em;
}
#content .section-0 {
  padding: 1.5em;
}
#content .section-title {
}
/* Uniformly color everything that's a heading */
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  margin: 0em;
  color: #000000;
  font-family: "Times New Roman",serif;
  font-variant: small-caps;
  clear: both;
}
/* Titles for sections. */
#content .section h1 {
  margin: 0em 0em 1em 0em;
  font-weight: bold;
  font-size: 140%;
}
/* */
#content .section h2 {
  font-weight: bold;
  font-size: 120%;
}
#content .section h3 {
  font-size: 115%;
}
#content .section h4,
#content .section h5,
#content .section h6
{
  font-style: italic;
  font-variant: normal;
  font-size: 100%;
}
#content .section h2,
#content .section h3,
#content .section h4,
#content .section h5,
#content .section h6
{
  margin: 0em 0em 0.5em 0em;
  padding: 0.5em 0em 0em 0em;
  /* color: #005080; */
}
#content .section h1,
#content .section h2,
#content .section h3,
#content .section h4,
#content .section h5,
#content .section h6
{
  /* color: #005080; */
}
/* */
#content .section p {
  margin: 0.5em 0em 1em 0em;
  /* margin: 0em 0em 1.5em 0em; */
}
/* Standard text markups. Mostly defaults. */
/* #content .section em { } */
#content .section strong { font-weight: 900; }
/* #content .section cite { } */
#content .section dfn { font-weight: 700; font-style: normal; }
/* #content .section code { } */
/* #content .section samp { } */
/* #content .section kbd { } */
#content .section var { font-style: italic !important; }
/* #content .section abbr { } */
/* #content .section acronym { } */
/* #content .section q { } */
/* #content .section sub { } */
/* #content .section sup { } */
#content .section ins { text-decoration: underline; }
#content .section del { text-decoration: line-through; }

#content .section em *,
#content .section strong *,
#content .section cite *,
#content .section dfn *,
#content .section code *,
#content .section samp *,
#content .section kbd *,
#content .section var *,
#content .section abbr *
#content .section acronym *,
#content .section q *,
#content .section sub *,
#content .section sup *,
#content .section ins *,
#content .section del *
{ font-weight: inherit; font-style: inherit; text-decoration: inherit; }

#content .section img {
  border: 1px solid #CCCCCC;
  padding: 0.25em;
}
#content .section .inline {
  border: none;
  vertical-align: baseline;
}
/* Horizontal rules are just evil. */
#content .section hr {
  display: none;
}
/* Other structural elements... */
/* Definition lists. */
#content .section dl {
  margin: 0em 0em 1.5em 0em;
}
#content .section dt {
  margin: 0.25em 0em 0em 0em;
}
#content .section dd {
  margin: 0em 0em 0em 2em;
}
/* Quotes are marked off with a border, ala blogs. */
#content .section blockquote {
  margin: 1.5em;
  border: 1px solid #CCCCCC;
  /* text-align: justify; */
  padding: 0.5em;
}
#content .section blockquote p {
  margin: 0.5em 0em 0em 0em;
}
#content .section blockquote p:first-child {
  margin-top: 0em;
}
/* Tables */
#content .section table {
  margin: 0em auto 0em auto;
  border: none;
  border-spacing: 2px;
  clear: both;
}
#content .section table th {
  background: #EEEEEE;
  border: 1px solid #CCCCCC !important;
  padding: 0.25em;
  font-weight: bold;
  vertical-align: top;
  text-align: center;
}
#content .section table th * {
  font-weight: inherit;
}
#content .section table td {
  border: 1px solid #CCCCCC !important;
  padding: 0.25em;
  vertical-align: top;
  text-align: left;
}
#content .section table caption {
  margin: 0em 0em 1.5em 0em;
  caption-side: bottom;
}
/* An inset, image or other, on the left. */
#content .section .left-inset,
#content .section .inset-left {
  float: left;
  clear: left;
  margin: 0em 1em 1em 0em;
}
/* An inset, image or other, on the right. */
#content .section .right-inset,
#content .section .inset-right  {
  float: right;
  clear: right;
  margin: 0em 0em 1em 1em;
}
/* The name of a library, as the start of a block for that library. */
#content .section .library {
  font-weight: bold;
  display: block;
  margin: 0.75em 0em 0.25em 0em;
}
#content .library *
{ font-weight: inherit; font-style: inherit; text-decoration: inherit; }
/* FAQ items, question and answer on the same flow. */
#content .section .faq {
  margin: 0em 0em 1.5em 0em;
}
#content .section .faq .faq-question {
  font-weight: bold;
}
#content .section .faq .faq-question * {
  font-weight: inherit;
}
#content .section .faq .faq-answer {
}
/* Notes with a lable and text on the same flow. */
#content .section .note {
  margin: 1em 0em 0em 0em;
}
#content .section .note .note-label {
  font-weight: bold;
}
#content .section .note .note-label * {
  font-weight: inherit;
}
#content .section .note .note-body {
}
/* Default style, as in straight in content, lists... */
#content .section ul {
  margin: 0em 0em 1.5em 0em;
  padding: 0em;
  list-style: circle;
}
#content .section ul ul {
  margin: 0em 0em 0.25em 0em;
  padding: 0em;
}
#content .section ul li {
  margin: 0em 0em 0em 1.25em;
  padding: 0em 0em 0em 0em;
  text-indent: 0em;
}
/* Tree structure representation... */
#content .section ul.tree {
  list-style: none !important;
  margin-top: 0em;
  margin-bottom: 0em;
}
#content .section ul.tree li {
  margin-top: 0em;
  margin-bottom: 0em;
}
#content .section ul.tree ul {
  list-style: none !important;
  margin-top: 0em;
  margin-bottom: 0em;
}
/* Table of contents lists... */
#content .section ul.toc {
  margin: 1.5em;
  padding: 0.5em;
  border: 1px solid #CCCCCC;
}
#content .section ul.toc li
{
  margin: 0em;
  padding: 0em;
  text-indent: 0em;
  list-style-type: none;
}
#content .section ul.toc li ul {
  margin: 0em;
  padding: 0em;
  border: none;
  background: transparent;
}
#content .section ul.toc li ul li
{
  margin: 0em 0em 0em 1em;
}
#content .section ul.toc a {
  display: block;
  width: 100%;
  border: none;
}
#content .section ul.toc a:hover {
}
#content .section ul.toc a:visited {
  border: none;
}
/* Menu lists... */
#content .section ul.menu {
  margin: 1em;
  padding: 0.5em;
  border: 1px solid #CCCCCC;
  list-style-type: none;
}
#content .section ul.menu li
{
  display: inline;
  margin: 0em;
  /* padding: 0em; */
  border-right: 1px solid #CCCCCC;
  padding-right: 0.25em;
}
#content .section ul.menu a {
  border: none;
}
#content .section ul.menu a:hover {
}
#content .section ul.menu a:visited {
  border: none;
}
/* History style lists, the first level doesn't get bullets... */
#content .section ul.history {
  margin: 0em 0em 1.5em 0em;
  padding: 0em 0em 0em 2em;
  list-style-type: none;
}
#content .section ul.history li {
  margin: 0em 0em 0.75em 0em;
  text-indent: -1.75em;
  padding: 0em;
  background: none;
}
#content .section ul.history li ul {
  margin: 0em 0em 0em 0em;
  padding: 0em;
  list-style-type: circle;
}
#content .section ul.history li ul li {
  margin: 0em 0em 0em 1em;
  padding: 0em;
  text-indent: 0em;
}
/* Catalog style lists, the first level doesn't get bullets... */
#content .section dl.catalog {
  margin: 0em 0em 0em 0em;
}
#content .section dl.catalog dt {
  width: 30%;
  float: left;
  clear: left;
  margin: 0em 1em 1em 0em;
}
#content .section dl.catalog dt * {
  font-weight: inherit; font-style: inherit; text-decoration: inherit;
}
#content .section dl.catalog dd {
  margin: 0em 0em 1em 30%;
  padding: 0em 0em 0em 1em;
}
/* Field+value style lists... */
#content .section dl.fields {
  margin: 0.5em 0em 0.5em 0em;
}
#content .section dl.fields dt {
  width: 7em;
  float: left;
  clear: left;
  margin: 0em;
  font-style: italic;
  overflow: hidden;
  white-space: nowrap;
}
#content .section dl.fields dt:after {
  content: ".....................................";
}
#content .section dl.fields dt * {
  font-weight: inherit; font-style: inherit; text-decoration: inherit;
}
#content .section dl.fields dd {
  margin: 0em 0em 0em 7.5em;
  padding: 0em 0em 0em 0em;
}
/* A directory, as in the index for the people. */
#content .section ul.directory,
#content .section .directory
{
  padding: 0em;
  margin: 0em 0em 1.5em 0em;
  list-style-type: none;
}
#content .section ul.directory li,
#content .section .directory .directory-item
{
  display: block;
  float: left;
  width: 49.5%;
  margin: 0em;
  padding: 0em;
  text-indent: 0em;
}
#content .section ul.directory li * {
  /* float: none !important; */
}
#content .section ul.directory li ul {
  margin: 0em 0em 0.25em 0em;
  padding: 0em;
  list-style-type: circle;
}
#content .section ul.directory li ul li {
  float: none !important;
  display: list-item;
  padding: 0em 0em 0em 0em;
  text-indent: 0em;
}
#content .section ul.directory li ul li {
  width: auto !important;
  margin: 0em 0em 0em 1.25em;
}
/* Default style, as in straight in content, ordered lists... */
#content .section ol {
  margin: 0em 0em 1.5em 0em;
}
#content .section ol ol {
  margin: 0em 0em 0em 0em;
}
#content .section ol li {
  margin: 0em 0em 0.25em 2em;
}
#content .section ol li ol li {
  margin: 0em 0em 0.25em 1em;
}
#content .section ol li p {
  margin: 0em 0em 0.75em 0em;
}
/* For the people directory we present as a picture matrix. */
#people-directory {
  width: 100%;
}
#people-directory li {
  margin: 0px 1px 1px 0px !important;
  padding: 0px !important;
  float: left !important;
  width: 100px !important;
  height: 100px !important;
  overflow: hidden;
}
#people-directory img {
  width: 100px;
  height: 100px;
  border: none !important;
  padding: 0px !important;
  margin: 0px !important;
  float: none !important;
}
#people-directory a {
  width: 100px !important;
  height: 100px !important;
  padding: 0px !important;
  margin: 0px !important;
  overflow: hidden;
  display: block;
  text-align: center;
  vertical-align: bottom;
  font-size: 11px;
}
#people-directory a .link {
  display: none;
}
#people-directory a:hover {
  border: none !important;
}
#people-directory a:hover .link {
  display: block;
  padding: 0px;
  margin: -33px 2px 2px 2px;
  height: 28px;
  position: relative;
  z-index: 2;
  background: url(alpha_white_75.png) left top repeat;
  line-height: 1.2em;
  font-weight: bold;
}
#people-directory li.clear {
  clear: both !important;
  width: 100% !important;
  height: 1px !important;
  overflow: hidden !important;
  float: none !important;
}
/* The detailed bio portraits are also fixed width for fit and consistency. */
#content .section .portrait {
  float: right;
  width: 300px;
  margin: 0em 0em 1em 1em;
}
/* PRE text is almost always a code example. Show like a blockquote,
   except with a smaller font to reduce the likelyhood of long lines
   getting cut. And allow for horizontal scroll to prevent wide boxes,
   except in the case of pre inside tables. */
#content .section pre {
  margin: 1.5em;
  border: 1px solid #CCCCCC;
  padding: 0.5em;
  font-size: 90%;
  overflow: auto;
  clear: left;
}
#content .section table pre {
  overflow: visible;
  clear: left;
}
/* */
#content .section .admonition {
  margin: 1.5em;
  border: 4px solid #2070A0;
  padding: 0.5em;
}
/* A biobligraphy list, as a definition list. */
#content .section dl.bibliography dd {
  margin: 0em 0em 0em 0em;
  font-weight: bold;
}
#content .section dl.bibliography dd * {
  font-weight: inherit;
}
#content .section dl.bibliography dt {
  margin: 0em 0em 1em 0em;
}
/* */
#content .news-date {
  color: #777;
  font-size: 90%;
}
