/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* */
#content {
  padding: 1.5em;
  vertical-align: top;
}
/* Content sections, inside the top content section. */
#content .section {
  /* width: 100%; */
  margin: 0em 0em 3em 0em;
}
#content .section-0 {
}
/* Uniformly color everything that's a heading */
#content h1, #content h2, #content h3, #content h4 {
  color: #000000;
  font-weight: bold;
}
/* Blue rather large titles for sections. */
#content .section h1 {
  margin: 0em 0em 0.5em 0em;
  font-size: 140%;
  clear: both;
}
/* */
#content .section h2 {
  margin: 0em 0em 0.5em 0em;
  font-size: 140%;
  clear: both;
}
#content .section h3 {
  font-size: 120%;
  clear: both;
}
#content .section h4 {
  margin: 0.5em 0em 0.5em 0em;
  font-size: 110%;
  clear: both;
}
/* */
#content .section p {
  margin: 0.75em 0em 0em 0em;
}
/* Links. */
#content .section a.internal {
  /*
  border-bottom: 1px solid #8AB4CA;
  border-bottom: 1px solid #005080;
  */
  border-bottom: 1px solid #2070A0;
}
#content .section a.internal:hover {
  color: #2070A0;
}
#content .section a.internal:visited {
  border-bottom: 1px dashed #2070A0;
}
#content .section a.external {
  border-bottom: 1px solid #902020;
}
#content .section a.external:hover {
  color: #902020;
}
#content .section a.external:visited {
  border-bottom: 1px dashed #902020;
}
/* Lists use a minimal decoration of a '+' bullet but only for subitems.
   This styling provides a consistent look on all browsers. */
#content .section ul {
  margin: 0em 0em 0.75em 0em;
  padding: 0em 0em 0em 2em;
}
#content .section ul li {
  margin: 0.75em 0em 0em 0em;
  text-indent: -1.75em;
  padding: 0em;
  list-style-type: none;
}
#content .section ul li ul {
  margin: 0.75em 0em 0em 0em;
  padding: 0em;
}
#content .section ul li ul li {
  display: block;
  margin: 0em;
  padding: 0em 0em 0em 1em;
  list-style-type: none;
  background: url(boost_bullet.gif) no-repeat 0em 0.5em;
  text-indent: 0em;
}
/* Quotes are marked off with a border, ala blogs. */
#content .section blockquote {
  margin: 1em;
  border: 1px solid #CCCCCC;
  text-align: justify;
  padding: 0.5em;
}
/* An inset, image or other, on the left. */
#content .section .left-inset {
  float: left;
  margin: 0em 1em 1em 0em;
}
/* An inset, image or other, on the right. */
#content .section .right-inset {
  float: right;
  margin: 0em 0em 1em 1em;
}
/* The name of a library, as the start of a block for that library. */
#content .section .library {
  font-weight: bold;
  display: block;
  margin: 0em 0em 0.5em 0em;
}
/* FAQ items, question and answer on the same flow. */
#content .section .faq {
  margin: 1em 0em 0em 0em;
}
#content .section .faq .faq-question {
  font-weight: bold;
}
#content .section .faq .faq-answer {
}
/* Notes with a lable and text on the same flow. */
#content .section .note {
  margin: 1em 0em 0em 0em;
}
#content .section .note .note-label {
  font-weight: bold;
}
#content .section .note .note-body {
}
