/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* Footer with copyright, license, banners. */
#footer {
  color: #666666;
  margin: 1.5em;
  padding: 0em;
  clear: both;
  background: #EEEEEE;
  border-top: #000000 solid 1px;
}
#footer-left {
  float: left;
  padding: 0.75em;
}
#footer-right {
  float: right;
  padding: 0.75em;
}
#footer p {
  margin: 0em;
  padding: 0em;
  font-size: 75%;
  text-align: left;
}
#footer #banners p {
  float: left;
  margin: 0em 0em 0em 1em;
}
#footer #banners a {
  display: block;
}
#footer #banner-sourceforge {
  background: url(http://sourceforge.net/sflogo.php?group_id=7586&type=1) no-repeat fixed 0px 5em;
}
