/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* Footer with copyright, license, banners. */
#footer {
  color: #FFFFFF;
  padding: 10px;
  clear: both;
  background: url(shadow-bottom.png) repeat-x top left;
}
#footer-left {
  float: left;
}
#footer-right {
  float: right;
}
#footer p {
  margin: 0em;
  padding: 0em;
  font-size: 75%;
  text-align: left;
}
#footer a {
  color: #FFFFFF;
  border-bottom: 1px solid #0080B0;
}
#footer a:hover {
  border-bottom: 1px solid #c8dae3;
}
#footer a:visited {
  border-bottom: 1px dashed #0080B0;
}
#footer a:visited:hover {
  border-bottom: 1px dashed #c8dae3;
}
#footer #banners p {
  float: left;
  margin: 0em 0em 0em 1em;
}
#footer #banners a {
  display: block;
}
#footer #banner-sourceforge {
  background: url(http://sourceforge.net/sflogo.php?group_id=7586&type=1) no-repeat fixed 0px 5em;
}
