/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* The base font size. The first one is for IE, the second for everyone else. */
body {
  font-size: smaller;
}
* > body {
  font-size: 10pt;
}
/* Global defaults. */
* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 100%;
  text-decoration: none;
  overflow: visible;
}
body {
  font-family: sans-serif;
  color: #000000;
  background-color: #005080;
}
#body {
  background-color: #FFFFFF;
  clear: both;
  border: none;
  padding: 1.5em;
}
#body table {
  width: 100%;
}
a.internal .link,
a.external .link {
  position: relative;
  top: 0.45ex;
}
a.internal,
a.external {
  text-decoration: none;
  color: #000000;
  position: relative;
  top: -0.45ex;
}
