/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* Heading, title and logo. */
#heading * {
  color: #FFFFFF;
}
#heading {
  background: #FFFFFF url(header-middle-ice.png) repeat-x top left;
}
#heading-title #boost,
#heading-title #cpplibraries {
  display: none;
}
#heading-title {
  height: 120px;
  background: url(header-left-ice.png) no-repeat top left;
}
#heading-title a {
  margin: 10px;
}
#heading-logo {
  width: 240px;
  height: 60px;
  border: none;
  vertical-align: bottom;
  margin: 25px 0px 0px 10px;
}
#heading-sections {
  margin: 0px;
}
#heading-sections ul {
  list-style-type: none;
  height: 2em;
  padding: 0px 0px 0px 2em;
  margin: 0px 10px 0px 10px;
  position: relative;
  z-index: 2;
  top: -10px;
}
#heading-sections li {
  float: left;
  padding: 0px;
  margin: 0px 2px 0px 0px;
  background: #666666 url(menu-tab-inactive-bkg.png) repeat-x top left;
}
#heading-sections a {
  display: block;
  font-size: 90%;
  font-weight: bold;
  padding: 2px 5px 2px 5px;
}
#heading-sections a:hover {
  background: #2070A0;
}
#heading-quote * {
}
#heading-quote {
  white-space: nowrap;
  text-align: right;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  background: url(header-right.png) no-repeat top right;
  height: 120px;
}
#heading-quote .quote {
  font-size: 80%;
  display: block;
  padding: 1px;
  margin: 12px 12px 0px 0px;
  background: url(alpha_blue_50.png) left top repeat;
}
#heading-quote .attribution {
  font-size: 75%;
  display: block;
  padding: 1px;
  margin: 0px 12px 0px 0px;
  background: url(alpha_blue_50.png) left top repeat;
}
