/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* Heading, title and logo. */
#heading * {
  color: #FFFFFF;
}
#heading {
  margin: 0em;
  background: #A1A1A1;
  border-bottom: #000000 solid 1px;
  height: 100px;
}
#heading-placard {
  display: none;
}
#heading-title #boost,
#heading-title #cpplibraries {
  display: none;
}
#heading-title {
  float: left;
}
#heading-title a {
}
#heading-logo {
  width: 270px;
  height: 90px;
  border: none;
  vertical-align: bottom;
  margin: 0px 0px 0px 1.5em;
}
#heading-quote {
  text-align: right;
  padding: 25px 1.5em 10px 0em;
}
#heading-quote * {
}
#heading-quote .quote {
  font-size: 90%;
  display: block;
}
#heading-quote .attribution {
  font-size: 85%;
  display: block;
}
#heading-sections {
  display: none;
}
#heading-search {
  display: none;
  text-align: right;
  padding: 0em 1.5em 0em 0em;
}
#heading-search #search-text #q {
  background: transparent;
  border: none;
  border-bottom: 1px #BBBBBB solid;
  margin-right: 0.25em;
  font-size: 90%;
}
#heading-search #search-text #q:hover {
  border-bottom: 1px #FFFFFF solid;
}
