/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* Heading, title and logo. */
#heading * {
  color: #FFFFFF;
}
#heading {
  background: #005080 url(shadow-top.png) repeat-x bottom left;
  height: 90px;
}
#heading img {
  border: none;
}
#heading-title {
  display: none;
}
#heading-logo {
  width: 260px;
  height: 80px;
  margin-top: 10px;
  background: #505050 url(logo-in-header.png) bottom left;
}
#heading-quote {
  white-space: nowrap;
  text-align: right;
  margin: 0.75em 0.75em 0em -7em;
  position: absolute;
  right: 0;
  top: 0;
}
#heading-quote .quote {
  font-size: 80%;
  display: block;
}
#heading-quote .attribution {
  font-size: 75%;
  display: block;
}
#heading-quote a {
  border-bottom: 1px solid #0080C0;
}
#heading-quote a:hover {
  border-bottom: 1px solid #c8dae3;
}
#heading-quote a:visited {
  border-bottom: 1px dashed #0080C0;
}
#heading-quote a:visited:hover {
  border-bottom: 1px dashed #c8dae3;
}
