/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* All about link/anchors ("A") elements. It's all here in one file
   to facilitate trying out multiple variants. And to help
   keep them consistent across all contexts. */
a.internal,
a.external {
  text-decoration: none;
  color: #000000;
}

/* Links, in the content section div, i.e. text. */
#content .section a {
  color: #000000;
  border-bottom: 1px solid #2070A0;
}
#content .section a:hover {
  color: #2070A0;
}
#content .section a:visited {
  border-bottom: 1px dashed #2070A0;
}
#content .section a.external {
  border-bottom: 1px solid #902020;
}
#content .section a.external:hover {
  color: #902020;
}
#content .section a.external:visited {
  border-bottom: 1px dashed #902020;
}
#content .section a[name] {
  border: none;
}
#content .section a[name]:hover {
  color: #000000;
}
#content .section a[name]:visited {
  border: none;
}
#content .section h1 a, #content .section h1 a[name]:hover,
#content .section h2 a, #content .section h2 a[name]:hover,
#content .section h3 a, #content .section h3 a[name]:hover,
#content .section h4 a, #content .section h4 a[name]:hover,
#content .section h5 a, #content .section h5 a[name]:hover,
#content .section h6 a, #content .section h6
{
  color: #005080;
}

/* Links in the footer. */
#footer a {
  color: #FFFFFF;
  border-bottom: 1px solid #0080B0;
}
#footer a:hover {
  border-bottom: 1px solid #c8dae3;
}
#footer a:visited {
  border-bottom: 1px dashed #0080B0;
}
#footer a:visited:hover {
  border-bottom: 1px dashed #c8dae3;
}

/* Links in the header. */
#heading-quote a {
  border-bottom: 1px solid #0080C0;
}
#heading-quote a:hover {
  border-bottom: 1px solid #c8dae3;
}
#heading-quote a:visited {
  border-bottom: 1px dashed #0080C0;
}
#heading-quote a:visited:hover {
  border-bottom: 1px dashed #c8dae3;
}
