/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* Heading, title and logo. */
li#community-section-tab {
  background: #FFFFFF !important;
  border-bottom: #FFFFFF 1px solid !important;
}
#community-section-menu ul {
  display: block !important;
}
#community-section-menu h4 a {
  border-left: 4px solid;
  border-right: 4px solid;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#content #irc-stats table {
}
#content #irc-stats table td {
  background-color: transparent !important;
}
#content #irc-stats table td.tdtop {
  background-color: #eeeeee !important;
  text-align: center;
}
#content #irc-stats table td.tdtop * {
  font-weight: bold;
}
#content #irc-stats table td.headlinebg {
  border: none !important;
}
#content #irc-stats table td.headtext {
  border: none !important;
  font-weight: bold !important;
}
#content #irc-stats table td.asmall,
#content #irc-stats table td.rankc10center,
#content #irc-stats table td.hirankc10center {
  border: none !important;
  padding: 0em !important;
  width: 17px;
  text-align: center;
  /* overflow: visible; */
  white-space: nowrap;
}
#content #irc-stats table td.asmall {
  vertical-align: bottom;
}
#content #irc-stats table td.rankc10center {
  vertical-align: center;
  font-size: 80%;
}
#content #irc-stats table td.hirankc10center {
  vertical-align: center;
  font-weight: bold;
  font-size: 95%;
}
#content #irc-stats table td.empty,
#content #irc-stats table td.rankc,
#content #irc-stats table td.hirankc {
  text-align: right !important;
  border: none !important;
  font-size: 80%;
}
#content #irc-stats table td.hirankc {
  font-size: 95%;
  font-weight: bold;
}
#content #irc-stats .irc-stats-percent {
  display: block;
  font-size: 90%;
}
#content #irc-stats .irc-stats-percent .irc-stats-decimal {
  display: block;
  font-size: 75%;
}
#content #irc-stats img {
  border: none;
  margin: 0px !important;
  padding: 0px !important;
}
#content #irc-stats img.irc-stats-blue-v {
  border: 1px solid #0000CC;
}
#content #irc-stats img.irc-stats-green-v {
  border: 1px solid #00AA00;
}
#content #irc-stats img.irc-stats-yellow-v {
  border: 1px solid #AAAA00;
}
#content #irc-stats img.irc-stats-red-v {
  border: 1px solid #CC0000;
}
#content #irc-stats img.irc-stats-red-v,
#content #irc-stats img.irc-stats-blue-v,
#content #irc-stats img.irc-stats-green-v,
#content #irc-stats img.irc-stats-yellow-v,
#content #irc-stats img.irc-stats-red-v {
  width: 15px;
  border-top-width: 4px;
}
#content #irc-stats img.irc-stats-blue-h {
  background: #0000CC;
}
#content #irc-stats img.irc-stats-green-h {
  background: #00AA00;
}
#content #irc-stats img.irc-stats-yellow-h {
  background: #AAAA00;
}
#content #irc-stats img.irc-stats-red-h {
  background: #CC0000;
}
#content #irc-stats img.irc-stats-red-h,
#content #irc-stats img.irc-stats-blue-h,
#content #irc-stats img.irc-stats-green-h,
#content #irc-stats img.irc-stats-yellow-h,
#content #irc-stats img.irc-stats-red-h {
  height: 4px;
  margin: 1px !important;
  border-top: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
}
