/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* Heading, title and logo. */
li#map-section-tab {
  background: #2070A0;
}
li#map-section-tab a {
  border: #BBBBBB 1px solid; border-top: none;
}
/* Site map index. */
#site-map-section-boost,
#site-map-section-community,
#site-map-section-development,
#site-map-section-support
{
  width: 50%;
  float: left;
}
#site-map-section-boost,
#site-map-section-development,
#site-map-section-doc
{
  clear: left;
}
#content #site-map * {
  margin: 0em;
  padding: 0em;
  text-indent: 0em;
  background: none;
}
#content #site-map .link {
  display: none;
}
#content #site-map ul {
}
#content #site-map ul li {
  list-style: none;
}
#content #site-map ul li h4 * {
  font-weight: bold;
}
#content #site-map ul li h3,
#content #site-map ul li h5,
#content #site-map ul li h6
{
  font-weight: normal;
  font-size: 100%;
}
#content #site-map ul li ul {
  margin: 0em 1em 1em 0em;
}
#content #site-map ul li ul li ul {
  margin: 0em 0em 0em 0em;
}
#content #site-map ul li ul li ul li {
  margin: 0em 0em 0em 1em;
}
