/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* Library list options. */

#content #options {
    padding-left: 6em;
}
#content #options .label {
    float: left;
    display: inline;
    margin-left: -6em;
    width: 6em;
    padding: 0.5em 0;
    text-align: right;
}
#content #options ul.menu li span {
    font-weight: bold;
}

/* Heading, title and logo. */
li#doc-section-tab {
  background: #FFFFFF !important;
  border-bottom: #FFFFFF 1px solid !important;
}
#documentation-section-menu ul {
  display: block !important;
}
#documentation-section-menu h4 a {
  border-left: 4px solid;
  border-right: 4px solid;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
#content #docs {
  margin: 0em;
}
#content #notes {
  margin: 0em;
}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  clear: left;
}
/* The Boost.Book navs... */
#content .spirit-nav {
  float: right;
  padding: 0.25em;
  background: #FFFFFF;
  margin: 0em 0em 1em 1em;
  border: #CCCCCC 1px solid;
}
#content .spirit-nav img {
  border: none;
  margin: 0.25em 0.25em 0em 0.25em;
}
#content .spirit-nav a {
  border: none;
}
#content .spirit-nav a:hover {
  border: none;
  /* background: #EEEEEE; */
  display: inline-block;
}
#content .spirit-nav a:visited {
  border: none;
}
#content .spirit-nav a:hover:visited {
  border: none;
}
#content div.toc,
#content table.toc,
#content dl.index,
#content dl.page-index,
#content .section div.contents ul.simple
{
  margin: 1em;
  padding: 0.5em;
  border: 1px solid #CCCCCC;
  background: #FFFFFF;
}
#content table.toc
{
  width: 90%;
}
#content dl.index dl,
#content dl.page-index dl,
#content .section div.contents ul.simple ul
{
  margin: 0em;
  padding: 0em;
  border: none;
  background: transparent;
}
#content div.toc dl {
  margin: 0em;
  padding: 0em;
}
#content div.toc dt,
#content dl.index dt,
#content dl.page-index dt,
#content .section div.contents ul.simple li
{
  display: block;
  margin: 0em;
  padding: 0em;
  text-indent: 0em;
  list-style-type: none;
}
#content div.toc dt dt,
#content dl.index dt dt,
#content dl.page-index dt dt,
#content .section div.contents ul.simple li ul li
{
  margin: 0em 0em 0em 1em;
}
#content table.toc td.toc_cells_L0 {
  padding: 0em 0em 0em 0em;
}
#content table.toc td.toc_cells_L1 {
  padding: 0em 0em 0em 1em;
}
#content table.toc td.toc_cells_L2 {
  padding: 0em 0em 0em 2em;
}
#content dl.index dd,
#content dl.page-index dd,
#content div.toc dd {
  margin: 0em;
  padding: 0em 0em 0em 1em;
}
#content div.toc p {
  display: none;
}
#content div.toc a,
#content table.toc a,
#content dl.index a,
#content dl.page-index a,
#content .section div.contents ul.simple a
{
  display: block;
  width: 100%;
}
#content div.toc a:hover,
#content table.toc a:hover,
#content dl.index a:hover,
#content dl.page-index a:hover,
#content .section div.contents ul.simple a:hover
{
}
#content div.toc a:visited,
#content table.toc a:visited,
#content dl.index a:visited,
#content dl.page-index a:visited,
#content .section div.contents ul.simple a:visited
{
}
#content div.toc a:hover:visited,
#content table.toc a:hover:visited,
#content dl.index a:hover:visited,
#content dl.page-index a:hover:visited,
#content .section div.contents ul.simple a:hover:visited
{
}
#content .section-body {
  padding-bottom: 1em;
}
#content .section .section {
  margin: 0em;
}

/* The rest of the BoostBook styles... */
#content .section table.footer-table,
#content .section + table,
#content .article + table {
  border: none;
  margin: 0.75em 0em 0em 0em;
  font-size: 80%;
  width: 100%;
}
#content .section table.footer-table td,
#content .section + table td,
#content .article + table td {
  border: none !important;
}
#content .section table.footer-table td[align=right],
#content .section + table td[align=right],
#content .article + table td[align=right] {
  text-align: right;
}
#content .section pre.literallayout {
  margin: 0em;
  border: none;
  padding: 0em;
  overflow: visible;
  font-size: 95%;
}
#content .section span.term {
  font-weight: bold;
}
#content .section span.term * {
  font-weight: inherit;
}
#content .section table.table {
  margin: 1em;
  border: none;
  border-spacing: 2px;
}
#content .section table.table th {
  background: #EEEEEE;
  border: 1px solid #CCCCCC !important;
  padding: 0.25em;
}
#content .section table.table td {
  border: 1px solid #CCCCCC !important;
  padding: 0.25em;
}
#content .section table.table td p {
  margin: 0em;
}
#content .section .variablelist table {
  margin: 0em;
}
#content .section .variablelist table th,
#content .section .variablelist table td {
  border: none !important;
}
/* #content .section .variablelist dl {
  margin: 0em 0em 0em 0em;
}
#content .section .variablelist dl dt {
  width: 10em;
  float: left;
  clear: left;
  margin: 0em 1em 1em 0em;
  font-style: italic;
}
#content .section .variablelist dl dt * {
  font-weight: inherit; font-style: inherit; text-decoration: inherit;
}
#content .section .variablelist dl dd {
  margin: 0em 0em 1em 10em;
  padding: 0em 0em 0em 1em;
} */
#content .section table.simplelist {
  margin: 1em;
  border: none;
  width: auto !important;
  margin: 0em !important;
  padding: 0em !important;
  border: none !important;
}
#content .section table.simplelist td
{
  margin: 0em !important;
  padding: 0em !important;
  text-align: left !important;
  font-size: 9pt !important;
  border: none !important;
}
#content .section td table.simplelist {
  margin: 1em;
  border: none;
  border: 4px solid #FFFFFF !important;
  border-bottom: none !important;
  border-right: none !important;
}
#content .section table pre.screen,
#content .section table pre.table-programlisting
{
  display: inline;
  border: none;
  margin: 0em;
  padding: 0em;
}
#content .section img {
  border: none;
}
#content .section span.inlinemediaobject img
{
  vertical-align: middle;
}

/* */
#content .section h2 *,
#content .section h3 *,
#content .section h4 *,
#content .section h5 *,
#content .section h6 *
{ font-weight: inherit; /* font-style: inherit; */ text-decoration: inherit; }

/* Syntax Highlighting */
.keyword { color: #0000AA; font-weight: bold; }
.identifier {}
.special { color: #707070; }
.preprocessor { color: #402080; font-weight: bold; }
.char { color: teal; }
.comment { color: #800000; }
.string { color: teal; }
.number { color: teal; }
.copyright, .copyright-footer { color: #666666; font-size: small; }
.white_bkd { background-color: #FFFFFF; }
.dk_grey_bkd { background-color: #999999; }

/* Docutils generated HTML... */
#content table.field-list,
#content table.docinfo
{
  border: none;
  margin-left: 0em;
  margin-right: 0em;
}
#content table.citation,
#content table.footnote
{
  border: none;
  border-left: 1px solid #CCCCCC;
  margin: 1em 0em 0em 0em;
  padding: 0em;
  font-size: 95%;
}
#content table.citation td,
#content table.footnote td
{
  border: none !important;
  padding: 0em 0.25em 0em 0.25em;
}
#content table.header,
#content table.footer
{
  border: none;
  margin-right: 0em;
  margin-bottom: 1em;
}
#content table.field-list th,
#content table.docinfo th,
#content table.field-list td,
#content table.docinfo td
{
  border: none !important;
  text-align: left;
  background: inherit;
}
#content table.field-list th.field-name,
#content table.docinfo th.docinfo-name
{
  white-space: nowrap;
  text-transform: capitalize;
  width: 10em;
}
#content div.footer
{
  text-align: center;
  font-size: 80%;
}
div.contents .topic-title
{
  font-size: 130%;
  font-weight: bold;
}
div.contents .topic-title *
{ font-weight: inherit; /* font-style: inherit; */ text-decoration: inherit; }
#content td.navigation-bar,
#content td.page-location
{
  float: right;
  clear: right;
  margin: 0.25em;
  background: #DDDDDD url(panel_bkg.png) top left repeat-x;
  border: #CCCCCC 1px solid;
}

/* Multi-Index... */
#content div.prev_link,
#content div.up_link,
#content div.next_link
{
  float: right;
  padding: 0.25em;
  background: #DDDDDD url(panel_bkg.png) top left repeat-x;
  margin: 0em 0em 1em 0em;
  border: #CCCCCC 1px solid;
  width: 19px; height: 19px;
}
#content div.prev_link img,
#content div.up_link img,
#content div.next_link img
{
  display: none;
}
#content div.prev_link br,
#content div.up_link br,
#content div.next_link br
{
  display: none;
}
#content div.prev_link a,
#content div.up_link a,
#content div.next_link a
{
  display: block;
  width: 19px; height: 19px;
  text-indent: 20px;
  overflow: hidden;
  border: none;
}
#content div.prev_link a:hover,
#content div.up_link a:hover,
#content div.next_link a:hover,
#content div.prev_link a:visited,
#content div.up_link a:visited,
#content div.next_link a:visited
{
  border: none;
}
#content div.prev_link a {
  background: url(prev.png) no-repeat center center;
}
#content div.up_link a {
  background: url(up.png) no-repeat center center;
}
#content div.next_link a {
  background: url(next.png) no-repeat center center;
}
#content div.prev_link {
  background: #EEEEEE url(prev_disabled.png) no-repeat center center;
}
#content div.up_link {
  background: #EEEEEE url(up_disabled.png) no-repeat center center;
}
#content div.next_link {
  background: #EEEEEE url(next_disabled.png) no-repeat center center;
}

/* Pyste? */
#content .pyste-nav {
  float: right;
  padding: 0.25em;
  background: #DDDDDD url(panel_bkg.png) top left repeat-x;
  margin: 0em 0em 1em 0em !important;
  border: #CCCCCC 1px solid !important;
}
#content .pyste-nav td {
  margin: 0em !important;
  padding: 0em !important;
}
#content .pyste-nav img {
  width: 19px; height: 19px;
  border: none;
  margin: 0.25em 0.25em 0em 0.25em;
}
#content .pyste-nav a,
#content .pyste-nav a:hover,
#content .pyste-nav a:visited
{
  border: none;
}

/* Various, notes, info, etc. boxes... */
#content table.note_box
{
  margin: 1em;
  background: #EEEEEE;
  border: none;
  text-align: justify;
  padding: 0em;
}
#content table.note_box td
{
  padding: 0.5em;
  font-size: 90%;
}
#content table.note_box td img
{
  background: #FFFFFF;
  border: none;
  float: left;
  margin: -0.5em 0.5em 0.5em -0.5em;
  padding: 0em 0.25em 0.25em 0em;
  position: relative;
  left: -1px;
  top: -1px;
}

/* And the boostbook versions of those boxes... */
#content .section .tip,
#content .section .note,
#content .section .warning,
#content .section .important,
#content .section .caution,
#content .section .sidebar,
#content .section .hint
{
  margin: 1em !important;
  border: 1px solid #CCCCCC;
  padding: 0.5em 0.5em 0.5em 40px;
  min-height: 22px;
}
#content .section .tip > table,
#content .section .note > table,
#content .section .warning > table,
#content .section .important > table,
#content .section .caution > table,
#content .section .sidebar > table,
#content .section .hint > table
{
  margin: 0em !important;
}
#content .section .tip h3 + p,
#content .section .note h3 + p,
#content .section .warning h3 + p,
#content .section .important h3 + p,
#content .section .caution h3 + p,
#content .section .sidebar h3 + p,
#content .section .hint h3 + p
{
  margin-top: 0em !important;
}
#content .section .tip .title,
#content .section .note .title,
#content .section .warning .title,
#content .section .important .title,
#content .section .caution .title,
#content .section .sidebar .title,
#content .section .hint .title
{
  display: none;
}
#content .section .tip tbody tr:first-child,
#content .section .note tbody tr:first-child,
#content .section .warning tbody tr:first-child,
#content .section .important tbody tr:first-child,
#content .section .caution tbody tr:first-child,
#content .section .sidebar tbody tr:first-child,
#content .section .hint tbody tr:first-child
{
  display: none;
}
#content .section .tip tbody > tr > td,
#content .section .note tbody > tr > td,
#content .section .warning tbody > tr > td,
#content .section .important tbody > tr > td,
#content .section .caution tbody > tr > td,
#content .section .sidebar tbody > tr > td,
#content .section .hint tbody > tr > td
{
  border: none !important;
}
#content .section .tip { background: #FFFFFF url(tip.png) no-repeat top left; }
#content .section .note { background: #FFFFFF url(note.png) no-repeat top left; }
#content .section .warning { background: #FFFFFF url(caution.png) no-repeat top left; }
#content .section .important { background: #FFFFFF url(important.png) no-repeat top left; }
#content .section .caution { background: #FFFFFF url(caution.png) no-repeat top left; }
#content .section .sidebar { background: #FFFFFF url(note.png) no-repeat top left; }
#content .section .hint { background: #FFFFFF url(tip.png) no-repeat top left; }

/* Wiki display, edit, etc. */
#wiki-edit-form textarea {
  font-size: 90%;
  width: 100%;
  height: 40em;
  border: 1px solid #CCCCCC;
  margin: 0em 0em 0.25em 0em;
}
#wiki-edit-form label {
  border: 1px solid #CCCCCC;
  padding: 2px;
  margin: 0em 0em 0.25em 0em;
  display: block;
}
#wiki-edit-form .wiki-label {
  font-family: "Times New Roman",serif;
  font-variant: small-caps;
  width: 20%;
  display: block;
  float: left;
  text-align: right;
  padding-right: 0.25em;
  white-space: nowrap;
}
#wiki-edit-form #summary {
  font-size: 90%;
  border: none;
  width: 78.5%;
  display: block;
  margin-left: 21%;
}
#wiki-edit-form #Save,
#wiki-edit-form #Preview {
  border: 1px solid #CCCCCC;
  padding: 2px;
  float: right;
  margin: 0em 0em 0em 0.25em;
  font-family: "Times New Roman",serif;
  font-variant: small-caps;
}
#wiki-preview h2.content-header {
  border-bottom: 1px solid #CCCCCC;
}
