/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* Heading, title and logo. */
li#doc-section-tab {
  background: #000000;
}
li#doc-section-tab a {
  border: #BBBBBB 1px solid; border-top: none;
}
/* We use a slightly different structure to get the content
   to flow around the sidebar. */
#content .section {
  margin: 0em 0em 0em 0em;
}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  clear: left;
}
/* The Boost.Book navs... */
#content .spirit-nav {
  float: right;
  padding: 0.25em;
  background: #EEEEEE;
  margin: 0em 0em 1em 0em;
  border: #CCCCCC 1px solid;
}
#content .spirit-nav img {
  border: none;
  margin: 0.25em 0.25em 0em 0.25em;
}
#content .spirit-nav a {
  border: none;
}
#content .spirit-nav a:hover {
  border: none;
}
#content .spirit-nav a:visited {
  border: none;
}
#content div.toc
, #content .section div.contents ul.simple
{
  margin: 1em;
  padding: 0.5em;
  border: 1px solid #CCCCCC;
  background: #EEEEEE;
}
#content div.toc dl {
  margin: 0em;
  padding: 0em;
}
#content div.toc dt
, #content .section div.contents ul.simple li
{
  display: block;
  margin: 0em;
  padding: 0em 0em 0em 1em;
  list-style-type: none;
  background: url(boost_bullet.gif) no-repeat 0em 0.5em;
  text-indent: 0em;
}
#content div.toc dd {
  margin: 0em;
  padding: 0em 0em 0em 1em;
}
#content div.toc p {
  display: none;
}
#content .section-body {
  padding-bottom: 1em;
}
#content .section .section {
  margin: 0em;
}

/* The rest of the BoostBook styles... */
#content .section table.footer-table {
  border: none;
  margin: 0.75em 0em 0em 0em;
  font-size: 80%;
  width: 100%;
}
#content .section table.footer-table td[align=right] {
  text-align: right;
}
#content .section pre.literallayout {
  margin: 0em;
  border: none;
  padding: 0em;
  overflow: visible;
  font-size: 95%;
}
#content .section span.term {
  font-weight: bold;
}
#content .section span.term * {
  font-weight: inherit;
}
#content .section table.table {
  margin: 1em;
  border: none;
}
#content .section table.table th {
  background: #E8E8E8;
  border: 4px solid #FFFFFF !important;
  border-top: none !important;
  border-left: none !important;
  padding: 0.25em;
}
#content .section table.table td {
  background: #F6F6F6;
  border: 4px solid #FFFFFF !important;
  border-top: none !important;
  border-left: none !important;
  padding: 0.25em;
}
#content .section table.table td p {
  margin: 0em;
}
/* #content .section .variablelist dl {
  margin: 0em 0em 0em 0em;
}
#content .section .variablelist dl dt {
  width: 10em;
  float: left;
  clear: left;
  margin: 0em 1em 1em 0em;
  font-style: italic;
}
#content .section .variablelist dl dt * {
  font-weight: inherit; font-style: inherit; text-decoration: inherit;
}
#content .section .variablelist dl dd {
  margin: 0em 0em 1em 10em;
  padding: 0em 0em 0em 1em;
} */
#content .section table.simplelist {
  margin: 1em;
  border: none;
}
#content .section td table.simplelist {
  margin: 1em;
  border: none;
  border: 4px solid #FFFFFF !important;
  border-bottom: none !important;
  border-right: none !important;
}
#content .section table pre.screen,
#content .section table pre.table-programlisting
{
  display: inline;
  border: none;
  margin: 0em;
  padding: 0em;
}
#content .section img {
  border: none;
}

/* */
#content .section h2 *,
#content .section h3 *,
#content .section h4 *,
#content .section h5 *,
#content .section h6 *
{ font-weight: inherit; /* font-style: inherit; */ text-decoration: inherit; }

/* Syntax Highlighting */
.keyword { color: #0000AA; font-weight: bold; }
.identifier {}
.special { color: #707070; }
.preprocessor { color: #402080; font-weight: bold; }
.char { color: teal; }
.comment { color: #800000; }
.string { color: teal; }
.number { color: teal; }
.copyright { color: #666666; font-size: small; }
.white_bkd { background-color: #FFFFFF; }
.dk_grey_bkd { background-color: #999999; }

/* Docutils generated HTML... */
#content table.field-list,
#content table.docinfo
{
  border: none;
  margin-left: 0em;
  margin-right: 0em;
}
#content table.citation,
#content table.footnote
{
  border: none;
  border-left: 1px solid #CCCCCC;
  margin: 1em 0em 0em 0em;
  padding: 0em;
  font-size: 95%;
}
#content table.citation td,
#content table.footnote td
{
  border: none;
  padding: 0em 0.25em 0em 0.25em;
}
#content table.header,
#content table.footer
{
  border: none;
  margin-right: 0em;
  margin-bottom: 1em;
}
#content table.field-list th.field-name,
#content table.docinfo th.docinfo-name
{
  white-space: nowrap;
  border: none !important;
  text-align: left;
  text-transform: capitalize;
  width: 10em;
}
#content div.footer
{
  text-align: center;
  font-size: 80%;
}
div.contents .topic-title
{
  font-size: 130%;
  font-weight: bold;
}
div.contents .topic-title *
{ font-weight: inherit; /* font-style: inherit; */ text-decoration: inherit; }
#content td.navigation-bar,
#content td.page-location
{
  float: right;
  clear: right;
  margin: 0.25em;
  background: #EEEEEE;
  border: #CCCCCC 1px solid;
}

/* Multi-Index... */
#content div.prev_link,
#content div.up_link,
#content div.next_link
{
  float: right;
  padding: 0.25em;
  background: #EEEEEE;
  margin: 0em 0em 1em 0em;
  border: #CCCCCC 1px solid;
  width: 19px; height: 19px;
}
#content div.prev_link img,
#content div.up_link img,
#content div.next_link img
{
  display: none;
}
#content div.prev_link br,
#content div.up_link br,
#content div.next_link br
{
  display: none;
}
#content div.prev_link a,
#content div.up_link a,
#content div.next_link a
{
  display: block;
  width: 19px; height: 19px;
  text-indent: 20px;
  overflow: hidden;
  border: none;
}
#content div.prev_link a:hover,
#content div.up_link a:hover,
#content div.next_link a:hover,
#content div.prev_link a:visited,
#content div.up_link a:visited,
#content div.next_link a:visited
{
  border: none;
}
#content div.prev_link a {
  background: url(prev.png) no-repeat center center;
}
#content div.up_link a {
  background: url(up.png) no-repeat center center;
}
#content div.next_link a {
  background: url(next.png) no-repeat center center;
}
#content div.prev_link {
  background: #EEEEEE url(prev_disabled.png) no-repeat center center;
}
#content div.up_link {
  background: #EEEEEE url(up_disabled.png) no-repeat center center;
}
#content div.next_link {
  background: #EEEEEE url(next_disabled.png) no-repeat center center;
}

/* Pyste? */
#content .pyste-nav {
  float: right;
  padding: 0.25em;
  background: #EEEEEE;
  margin: 0em 0em 1em 0em !important;
  border: #CCCCCC 1px solid !important;
}
#content .pyste-nav td {
  margin: 0em !important;
  padding: 0em !important;
}
#content .pyste-nav img {
  width: 19px; height: 19px;
  border: none;
  margin: 0.25em 0.25em 0em 0.25em;
}
#content .pyste-nav a,
#content .pyste-nav a:hover,
#content .pyste-nav a:visited
{
  border: none;
}

/* Various, notes, info, etc. boxes... */
#content table.note_box
{
  margin: 1em;
  background: #EEEEEE;
  border: none;
  text-align: justify;
  padding: 0em;
}
#content table.note_box td
{
  padding: 0.5em;
  font-size: 90%;
}
#content table.note_box td img
{
  background: #FFFFFF;
  border: none;
  float: left;
  margin: -0.5em 0.5em 0.5em -0.5em;
  padding: 0em 0.25em 0.25em 0em;
  position: relative;
  left: -1px;
  top: -1px;
}

/* And the boostbook versions of those boxes... */
#content .section .tip,
#content .section .note,
#content .section .warning
{
  margin: 1em;
  background: #e2f2ff;
  border: none;
  padding: 0.5em;
}
#content .section .tip .title,
#content .section .note .title,
#content .section .warning .title
{
  display: block;
  margin: 0em;
  padding: 0em;
  text-indent: 100px;
  overflow: hidden;
  float: left;
  width: 24px;
  height: 24px;
  position: relative;
  left: -1px;
  top: -1px;
  margin: -0.5em 0.5em 0.5em -0.5em;
  background: #FFFFFF;
  padding: 0em 0.25em 0.25em 0em;
}
#content .section .tip .title { background: #FFFFFF url(tip.png) no-repeat top left; }
#content .section .note .title { background: #FFFFFF url(note.png) no-repeat top left; }
#content .section .warning .title { background: #FFFFFF url(caution.png) no-repeat top left; }
