/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* Heading, title and logo. */
li#doc-section-tab {
  background: #000000;
}
li#doc-section-tab a {
  border: #BBBBBB 1px solid; border-top: none;
}
/* The Boost.Book navs... */
#content .spirit-nav {
  float: right;
  padding: 0.25em;
  background: #EEEEEE;
  margin: 0em 0em 1em 0em;
  border: #CCCCCC 1px solid;
}
#content .spirit-nav img {
  border: none;
  margin: 0.25em 0.25em 0em 0.25em;
}
#content .spirit-nav a {
  border: none;
}
#content .spirit-nav a:hover {
  border: none;
}
#content .spirit-nav a:visited {
  border: none;
}
#content div.toc {
  margin: 1em;
  padding: 0.5em;
  border: 1px solid #CCCCCC;
  background: #EEEEEE;
}
#content div.toc dl {
  margin: 0em;
  padding: 0em;
}
#content div.toc dt {
  display: block;
  margin: 0em;
  padding: 0em 0em 0em 1em;
  list-style-type: none;
  background: url(boost_bullet.gif) no-repeat 0em 0.5em;
  text-indent: 0em;
}
#content div.toc dd {
  margin: 0em;
  padding: 0em 0em 0em 1em;
}
#content div.toc p {
  display: none;
}
#content .section-body {
  padding-bottom: 1em;
}
#content .section .section {
  margin: 0em;
}
#content .section table.footer-table {
  border: none;
  margin: 0.75em 0em 0em 0em;
  font-size: 80%;
}
/* */
#content .section h2 *,
#content .section h3 *,
#content .section h4 *,
#content .section h5 *,
#content .section h6 *
{ font-weight: inherit; /* font-style: inherit; */ text-decoration: inherit; }
/* Syntax Highlighting */
.keyword { color: #0000AA; font-weight: bold; }
.identifier {}
.special { color: #707070; }
.preprocessor { color: #402080; font-weight: bold; }
.char { color: teal; }
.comment { color: #800000; }
.string { color: teal; }
.number { color: teal; }
.copyright { color: #666666; font-size: small; }
.white_bkd { background-color: #FFFFFF; }
.dk_grey_bkd { background-color: #999999; }
