/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* Heading, title and logo. */
li#welcome-section-tab {
  background: #FFFFFF !important;
  border-bottom: #FFFFFF 1px solid !important;
}
#welcome-section-menu ul {
  display: block !important;
}
#welcome-section-menu h4 a {
  border-left: 4px solid;
  border-right: 4px solid;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
#welcome {
  min-width: 22em !important;
  max-width: 40em !important;
  margin-bottom: 1.5em !important;
  padding-right: 1.25em !important;
}
#welcome h2 {
  padding-top: 0em !important;
}
.directory > #welcome {
  width: auto !important;
}
#important-news,
#important-downloads {
  width: 22em !important;
  padding-right: 1.25em !important;
}
#news .news-title {
  display: block;
}
#news .news-description {
  display: block;
  padding: 0.25em 0em 0.25em 0em;
}
#news .news-date {
  display: block;
  padding: 0em 0em 0.5em 0em;
  color: #777;
  font-size: 90%;
}
#downloads .news-title {
  display: block;
}
#downloads .news-description {
  display: none;
  padding: 0.25em 0em 0.25em 0em;
}
#downloads .news-date {
  color: #777;
  font-size: 90%;
}
