/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* Heading, title and logo. */
li#welcome-section-tab {
  background: #2070A0;
}
li#welcome-section-tab a {
  border: #BBBBBB 1px solid; border-top: none;
  margin: 0px;
}

#news, #downloads {
  background: #DDDDDD url(panel_bkg.png) top left repeat-x;
  padding: 1em;
  border: 1px solid #CCCCCC;
}
#news {
  margin-right: 0.5em;
}
#downloads {
  margin-left: 0.5em;
}
#news h2, #downloads h2 {
  margin-top: 0em;
}
