/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
#sidebar {
  float: right;
  vertical-align: top;
  padding: 1.5em 1.5em 1.5em 0em;
}
#sidebar #menu, #sidebar #search {
  width: 16em;
  /* padding: 0.25em; */
  /* background: #DDDDDD url(panel_bkg.png) top left repeat-x; */
  margin: 0em 0em 1.5em 0em;
  /* border: #CCCCCC 1px solid; */
}

/**** The menus... ****/

/* Menu on the right of the content. */
#sidebar #menu {
}
#sidebar #menu * {
  text-decoration: none;
  color: #2070A0;
  margin: 0em; padding: 0em;
}
#sidebar #menu ul {
  list-style-type: none;
}
#sidebar #menu ul li {
}
#sidebar #menu ul li h4 {
  font-family: "Times New Roman",serif;
  font-variant: small-caps;
  margin: 0em 0em 0.25em 0em;
  border: #CCCCCC 1px solid;
}
#sidebar #menu ul li h4 a {
  border-left: #FFFFFF 0.25em solid;
  border-right: #FFFFFF 0.25em solid;
}
#sidebar #menu ul li ul {
  list-style-type: none;
  display: none;
  padding-bottom: 0.25em;
  border-left: #FFFFFF 1px solid;
  border-right: #FFFFFF 1px solid;
}
#sidebar #menu ul li ul li {
}
#sidebar #menu ul li ul li .heading {
  padding-left: 0.5em;
}
#sidebar #menu ul li ul li a {
  border-left: #FFFFFF 0.25em solid;
  border-right: #FFFFFF 0.25em solid;
}
/* The links all behave the same. */
#sidebar #menu ul li h4 a,
#sidebar #menu ul li ul li a {
  padding-left: 0.25em;
  display: block;
  width: 15em;
}
#sidebar #menu ul li ul li ul li a {
  padding-left: 1.25em;
  width: 14em;
}
#sidebar #menu ul li ul li ul li ul li a {
  padding-left: 2.25em;
  width: 13em;
}
#sidebar #menu ul li ul li ul li ul li ul li a {
  padding-left: 3.25em;
  width: 12em;
}
#sidebar #menu a span.link {
  color: #DDDDDD;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  right: 2.25em;
}

/**** Search... ****/
/* Search box */
#sidebar #search {
}
#sidebar #search #search-0 {
  font-family: "Times New Roman",serif;
  font-variant: small-caps;
  margin: 0em 0em 0.25em 0em;
  border: #CCCCCC 1px solid;
  padding: 2px 2px 2px 0.5em;
}
#sidebar #search h4 {
}
#sidebar #search #search-label {
}
/* - The various parts of the search widget. */
#sidebar #search #search-text {
  margin: 0em;
  padding: 0em;
  position: absolute;
  right: 1.5em;
}
#sidebar #search #search-text #q {
  width: 11.5em;
  margin: 0em 3px 0em 0em;
  padding: 0em;
  border: none;
  color: #000000;
  background-color: #CCCCCC;
}
/* - The custom Google banner and link. */
#sidebar #search #google {
  display: block;
  margin: 0em 0em 0em 0em;
  border: none;
  text-align: right;
}
#sidebar #search #google a {
  display: block;
  font-size: 10px;
  color: #000000;
}
#sidebar #search #google img {
  width: 75px; height: 32px;
  margin: 0em 0em 0em 0em;
  border: none;
}
/* The big download button... */
/**
#sidebar #get-boost {
  width: 15.25em;
  padding: 0.25em;
  margin: 0em 0em 1em 0em;
}
#get-boost h2 {
  background: url(get-boost-right.png) no-repeat top right;
}
#get-boost a {
  display: block;
  height: 55px;
  width: 100%;
  background: url(get-boost-left.png) no-repeat top left;
  padding: 25px 0em 0em 0em;
  text-indent: 70px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
/*/
#sidebar #get-boost {
  width: 15.25em;
  padding: 0.25em;
  background: #DDDDDD url(panel_bkg.png) top left repeat-x;
  margin: 0em 0em 1em 0em;
  border: #CCCCCC 1px solid;
}
#get-boost a {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  text-indent: 42px;
  font-weight: bold;
  background: url(get-boost-small.png) no-repeat 2px center;
  line-height: 40px;
  font-size: 20px;
}
#get-boost a span.link {
  font-weight: bold;
  display: block;
  text-align: right;
  margin: -40px 4px 0px 0px;
  display: none;
}
/**/
