/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
#sidebar {
  vertical-align: top;
  padding: 1.5em 1.5em 1.5em 0em;
}

/**** The menus... ****/

/* Remove the underline effect offsets. */
#sidebar #menu .link, #sidebar #menu a { top: 0em; }
/* Menu on the right of the content. */
#sidebar #menu {
  width: 13em;
}
#sidebar #menu * {
  text-decoration: none;
  color: #000000;
  border: none;
}
#sidebar #menu ul {
  margin: 0em; padding: 0em;
  list-style-type: none;
}
#sidebar #menu ul li {
  margin: 0em 0em 1em 0em;
  border-top: 1px solid #2070A0;
  border-right: 1px solid #2070A0;
  position: relative;
}
#sidebar #menu ul li h4 a {
  display: block;
  margin: 3px 3px 0px 0px; padding: 1px 4px 1px 4px;
  background-color: #E0E0E0;
  font-weight: bold;
  position: relative;
}
#sidebar #menu ul li ul {
  display: none;
  margin: 0px 3px 0px 0px; padding: 0px;
}
#sidebar #menu ul li.selected ul {
  display: block;
  margin: 0px 3px 0px 0px; padding: 0px;
}
#sidebar #menu .selected li {
  margin: 1px 0px 0px 0px; padding: 0px;
  overflow: hidden;
  width: 100%;
  border: none;
}
#sidebar #menu .selected a {
  margin: 0px 0px 0px 0px; padding: 1px 4px 1px 4px;
  display: block;
  width: 100%;
  background-color: #EEEEEE;
}
/* The links all behave the same. */
#sidebar #menu a {
  color: #000000;
}
#sidebar #menu a:link {
  background: #EEEEEE url(menu_link_indicator_active.png) 11.5em center no-repeat;
}
#sidebar #menu a:hover,
#sidebar #menu a:hover:visited {
  color: #2070A0;
  background: #EEEEEE url(menu_link_indicator_active.png) 11.5em center no-repeat;
}
#sidebar #menu h4 a:link {
  background: #E0E0E0 url(menu_link_indicator_active.png) 11.5em center no-repeat;
}
#sidebar #menu h4 a:hover,
#sidebar #menu h4 a:hover:visited {
  color: #2070A0;
  background: #E0E0E0 url(menu_link_indicator_active.png) 11.5em center no-repeat;
}
#sidebar #menu a:visited {
  background: #EEEEEE url(menu_link_indicator_visited.png) 11.5em center no-repeat;
}
#sidebar #menu h4 a:visited {
  background: #E0E0E0 url(menu_link_indicator_visited.png) 11.5em center no-repeat;
}

/**** Search... ****/
/* Search box */
#search {
  width: 13em;
  margin: 0em 0em 1em 0em;
}
#search-0 {
  padding: 3px 3px 0px 0px;
  border-top: 1px solid #2070A0;
  border-right: 1px solid #2070A0;
}
#search h4 {
  margin: 0px; padding: 1px 4px 1px 4px;
  background: #E0E0E0;
  font-weight: bold;
}
/* - The three parts of the search widget. */
#search #search-text {
  display: block;
  height: 1.8em;
  margin: 1px 0px 0px 0px;
  padding: 0.25em 4px 1px 4px;
  background: #EEEEEE;
}
#search #search-text #q {
  width: 98%;
  margin: 0 -5px 0 0; padding: 1px;
  border: 1px solid #003399;
  color: #000000;
  background-color: #FFFFFF;
}
#search #search-choice {
  display: block;
  height: 1.8em;
  margin: 0; padding: 1px 30px 1px 4px;
  background: #EEEEEE;
}
#search #search-choice #hq {
  width: 100%;
  margin: 0; padding: 0;
  border: 1px solid #003399;
  color: #000000;
  background-color: #FFFFFF;
}
#search #go {
  display: block;
  height: 1.8em;
  margin: -1.8em 0 0 0;
  text-align: right;
}
#search #go #search-button {
  width: 26px; height: 20px;
  margin: 0; padding: 0;
  background-image: url(search-button.png);
}
/* - The custom Google banner and link. */
#search #google {
  display: block;
  margin: 0em 0em 0em 0em;
  border: none;
  text-align: center;
  background: #EEEEEE;
}
#search #google a {
  display: block;
  font-size: 10px;
  color: #000000;
}
#search #google img {
  width: 75px; height: 32px;
  margin: 0em -20px 0em 0em;
  border: none;
}

/**** News... ****/
#sidebar #news {
  width: 13em;
  margin: 0em 0em 1em 0em;
  border-top: 1px solid #2070A0;
  border-right: 1px solid #2070A0;
}
#sidebar #news h4 {
  margin: 3px 3px 0px 0px; padding: 1px 4px 1px 4px;
  background: #E0E0E0;
  font-weight: bold;
}
#sidebar #news .news-title {
  display: block;
}
#sidebar #news p {
  margin: 1px 3px 0px 0px; padding: 1px 4px 1px 4px;
  background: #EEEEEE;
}
#sidebar #news-more {
  margin: 1px 3px 0px 0px;
  background: #EEEEEE;
}
#sidebar #news .link, #sidebar #news a { top: 0em; }
#sidebar #news a {
  display: block;
  padding: 1px 4px 1px 4px;
}
#sidebar #news a:hover,
#sidebar #news a:hover:visited {
  color: #2070A0;
  background: #EEEEEE url(menu_link_indicator_active.png) 13.5em top no-repeat;
}
#sidebar #news a:link {
  background: #EEEEEE url(menu_link_indicator_active.png) 13.5em top no-repeat;
}
#sidebar #news a:visited {
  background: #EEEEEE url(menu_link_indicator_visited.png) 13.5em top no-repeat;
}
