/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
#sidebar {
  float: right;
  vertical-align: top;
  padding: 0em 0em 0em 0em;
  margin: 1em 1em 1em 0em;
}
#sidebar #menu, #sidebar #search {
  width: 15.25em;
  padding: 0.25em;
  background: #EEEEEE;
  margin: 0em 0em 1em 0em;
  border: #CCCCCC 1px solid;
}

/**** The menus... ****/

/* Menu on the right of the content. */
#sidebar #menu {
}
#sidebar #menu * {
  text-decoration: none;
  color: #000000;
  margin: 0em; padding: 0em;
}
#sidebar #menu ul {
  list-style-type: none;
}
#sidebar #menu ul li {
}
#sidebar #menu ul li h4 a {
  font-weight: bold;
  margin: 0em 0em 0.25em 0em;
}
#sidebar #menu ul li ul {
  list-style-type: none;
}
#sidebar #menu ul li ul li {
}
#sidebar #menu ul li ul li a {
}
/* The links all behave the same. */
#sidebar #menu ul li h4 a,
#sidebar #menu ul li ul li a {
  color: #000000;
  display: block;
  position: relative;
  width: 100%;
  text-indent: 0.25em;
}
#sidebar #menu ul li ul li ul li a {
  text-indent: 1.25em;
}
#sidebar #menu ul li ul li ul li ul li a {
  text-indent: 2.25em;
}
#sidebar #menu a span.link {
  color: #EEEEEE;
  display: block;
  text-align: right;
  margin: -2.75ex 4px 0px 0px;
  font-weight: bold;
}
#sidebar #menu a:hover span.link {
  color: #2070A0;
}
#sidebar #menu a:hover {
  color: #2070A0;
  background: #DDDDDD;
}

/**** Search... ****/
/* Search box */
#sidebar #search {
}
#sidebar #search #search-0 {
  padding: 0em 0.125em 0em 0.125em;
}
#sidebar #search h4 {
  font-weight: bold;
}
/* - The three parts of the search widget. */
#sidebar #search #search-text {
  display: block;
  height: 1.8em;
  margin: 0em;
  padding: 0.25em 0em 1px 0em;
}
#sidebar #search #search-text #q {
  width: 98%;
  margin: 0 -5px 0 0; padding: 1px;
  border: 1px solid #000000;
  color: #000000;
  background-color: #FFFFFF;
}
#sidebar #search #search-choice {
  display: block;
  height: 1.8em;
  margin: 0; padding: 1px 30px 1px 0px;
}
#sidebar #search #search-choice #hq {
  width: 100%;
  margin: 0; padding: 0;
  border: 1px solid #000000;
  color: #000000;
  background-color: #FFFFFF;
}
#sidebar #search #go {
  display: block;
  height: 1.8em;
  margin: -1.8em 0 0 0;
  text-align: right;
}
#sidebar #search #go #search-button {
  width: 26px; height: 20px;
  margin: 0; padding: 0;
  background-image: url(search-button.png);
}
/* - The custom Google banner and link. */
#sidebar #search #google {
  display: block;
  margin: 0em 0em 0em 0em;
  border: none;
  text-align: center;
}
#sidebar #search #google a {
  display: block;
  font-size: 10px;
  color: #000000;
}
#sidebar #search #google img {
  width: 75px; height: 32px;
  margin: 0em -20px 0em 0em;
  border: none;
}
