/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
#sidebar {
  float: right;
  vertical-align: top;
  padding: 1.5em 1.5em 1.5em 0em;
}
#sidebar #menu {
  width: 16em;
  margin: 0em 0em 1.5em 0em;
  overflow: hidden;
}
#sidebar #search {
  width: 16em;
  margin: 0em 0em 0.25em 0em;
}

/**** The menus... ****/

/* Menu on the right of the content. */
#sidebar #menu {
}
#sidebar #menu * {
  text-decoration: none;
  color: #2070A0;
  margin: 0em; padding: 0em;
}
#sidebar #menu ul {
  list-style-type: none;
}
#sidebar #menu ul li {
}
#sidebar #menu ul li h4 {
  font-family: "Times New Roman",serif;
  font-variant: small-caps;
  margin: 0em 0em 0.25em 0em;
  border: #CCCCCC 1px solid;
}
#sidebar #menu ul li h4 a {
}
#sidebar #menu ul li ul {
  list-style-type: none;
  display: none;
  padding-bottom: 0.25em;
  border-left: #FFFFFF 1px solid;
  border-right: #FFFFFF 1px solid;
}
#sidebar #menu ul li ul li {
}
#sidebar #menu ul li ul li .heading {
  padding-left: 0.5em;
}
#sidebar #menu ul li ul li a {
}
/* The links all behave the same. */
#sidebar #menu ul li h4 a,
#sidebar #menu ul li ul li a {
  padding-left: 0.25em;
  display: block;
  width: 15em;
  margin-left: 4px;
  margin-right: 4px;
}
#sidebar #menu ul li ul li ul li a {
  padding-left: 1.25em;
  width: 14em;
}
#sidebar #menu ul li ul li ul li ul li a {
  padding-left: 2.25em;
  width: 13em;
}
#sidebar #menu ul li ul li ul li ul li ul li a {
  padding-left: 3.25em;
  width: 12em;
}
#sidebar #menu a span.link {
  color: #DDDDDD;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  right: 2.25em;
}

/**** RSS feed menus ****/
#rss-menu ul {
  display: block !important;
}
#rss-menu ul li {
  overflow: hidden;
}
#rss-menu .news-date {
  /* display: block !important; */
  clear: both;
  margin-left: 4px !important;
  margin-right: 4px !important;
  padding: 0em 0em 0.25em 0.5em !important;
  color: #777 !important;
  font-size: 90% !important;
}

/**** Search... ****/
/* Search box */
#sidebar #search {
}
#sidebar #search #search-0 {
  font-family: "Times New Roman",serif;
  font-variant: small-caps;
  margin: 0em 0em 0.25em 0em;
  border: #CCCCCC 1px solid;
  padding: 2px 2px 2px 0.5em;
}
#sidebar #search h4 {
}
#sidebar #search #search-label {
  float: left;
}
/* - The various parts of the search widget. */
#sidebar #search #search-text {
  margin: 0em;
  padding: 0em;
  display: block;
  text-align: right;
}
#sidebar #search #search-text #q {
  font-size: 90%;
  width: 12.5em;
  /* width: 11.5em; */
  margin: 0em 0em 0em 0em;
  padding: 0em;
  border: none;
  color: #000000;
  background-color: #CCCCCC;
}
/* - The custom Google banner and link. */
#sidebar #search #google {
  display: block;
  margin: 0em 0em 17px 0em;
  padding: 0em;
  border: none;
  border-bottom: 1px solid #CCCCCC;
  text-align: center;
  overflow: visible;
  height: 15px;
}
#sidebar #search #google a {
  color: #000000;
}
#sidebar #search #google img {
  width: 75px; height: 32px;
  margin: 0em 0em 0em 0em;
  border: none;
  background: #FFFFFF;
}
/* The download button... */
#get-boost {
  text-align: center;
}
#get-boost a {
  border: none !important;
  background: transparent !important;
}
#get-boost a img {
  border: none;
  width: 150px;
  height: 145px;
  background: #FFFFFF url(get-boost.png) no-repeat center center;
}
