/*
  Copyright 2005-2006 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/

/* Bright sky-blue/orange links. */
@import url(links_bright.css);

/* Heading, title and logo. */
#heading * {
  color: #FFFFFF;
}
#heading {
  background: #BA5411 url(header-morning-bkg.png) repeat-x top left;
  border: none;
  border-bottom: #000000 solid 1px;
}
#heading-logo {
  width: 270px;
  height: 90px;
  background: url(header-morning-logo.png) no-repeat top left;
}

/* Search box */
#sidebar #search #search-text #q {
  color: #FFFFFF;
  background-color: #BA5411;
  font-weight: bold;
  padding: 1px;
}
