# Various extra docs, from more subdir on old site.

RewriteEngine On
RewriteBase /

RewriteRule ^background.html users/index.html [R=permanent,L]
RewriteRule ^bibliography.html users/bibliography.html [R=permanent,L]
RewriteRule ^bugs.htm support/bugs.html [R=permanent,L]
RewriteRule ^count_bdy.htm community/counted_body.html [R=permanent,L]
RewriteRule ^cpp_committee_meetings.html community/committee.html [R=permanent,L]
RewriteRule ^cvs.html users/download/#repository [R=permanent,L]
RewriteRule ^discussion_policy.htm community/policy.html [R=permanent,L]
RewriteRule ^error_handling.html community/error_handling.html [R=permanent,L]
RewriteRule ^faq.htm users/faq.html [R=permanent,L]
RewriteRule ^feature_model_diagrams.html? community/feature_model_diagrams.html [R=permanent,L]
RewriteRule ^formal_review_process.htm community/reviews.html [R=permanent,L]
RewriteRule ^formal_review_schedule.html community/review_schedule.html [R=permanent,L]
RewriteRule ^generic_exception_safety.html community/exception_safety.html [R=permanent,L]
RewriteRule ^generic_programming.html community/generic_programming.html [R=permanent,L]
RewriteRule ^getting_started/(.*) doc/libs/release/more/getting_started/$1 [R=permanent,L]
RewriteRule ^getting_started(\.html)? doc/libs/release/more/getting_started/index.html [R=permanent,L]
RewriteRule ^headers?.htm development/header.html [R=permanent,L]
RewriteRule ^imp_vars.htm community/implementation_variations.html [R=permanent,L]
RewriteRule ^int_const_guidelines.htm development/int_const_guidelines.html [R=permanent,L]
RewriteRule ^lib_guide.htm development/requirements.html [R=permanent,L]
RewriteRule ^library_reuse.htm development/reuse.html [R=permanent,L]
RewriteRule ^license_info.html users/license.html [R=permanent,L]
RewriteRule ^links.htm community/cpp.html [R=permanent,L]
RewriteRule ^mailing_lists.htm community/groups.html [R=permanent,L]
RewriteRule ^moderators.html community/moderators.html [R=permanent,L]
RewriteRule ^proposal.pdf users/proposal.pdf [R=permanent,L]
RewriteRule ^regression.html development/testing.html [R=permanent,L]
RewriteRule ^release_mgr_checklist.html http://svn.boost.org/trac/boost/wiki/ReleasePractices/ManagerCheckList [R,L]
RewriteRule ^release_procedures.htm http://svn.boost.org/trac/boost/wiki/ReleasePractices/Procedures [R,L]
RewriteRule ^report-apr-2006.html development/report-apr-2006.html [R=permanent,L]
RewriteRule ^report-jan-2006.html development/report-jan-2006.html [R=permanent,L]
RewriteRule ^requesting_new_features.htm community/requests.html [R=permanent,L]
RewriteRule ^separate_compilation.html development/separate_compilation.html [R=permanent,L]
RewriteRule ^submission_process.htm development/submissions.html [R=permanent,L]
RewriteRule ^test_policy.htm development/test.html [R=permanent,L]
RewriteRule ^updating_the_website.html development/website_updating.html [R=permanent,L]
RewriteRule ^version_history.html users/history/ [R=permanent,L]
RewriteRule ^writingdoc/(.*) doc/libs/release/more/writingdoc/$1 [R=permanent,L]
RewriteRule ^ users/index.html [R=permanent,L]
