/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* The base font size. The first one is for IE, the second for everyone else. */
body {
  font-size: smaller;
  min-width: 43em;
}
* > body {
  font-size: 9.5pt;
}
/* Global defaults. */
* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 100%;
  text-decoration: none;
}
body {
  font-family: sans-serif;
  color: #000000;
  background: #FFFFFF;
}
#body {
  clear: both;
  border: none;
  width: 100%;
  background: #FFFFFF;
}
#body-inner {
}
