/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* Heading, title and logo. */
li#development-section-tab {
  background: #FFFFFF !important;
  border-bottom: #FFFFFF 1px solid !important;
}
#development-section-menu ul {
  display: block !important;
}
#development-section-menu h4 a {
  border-left: 4px solid;
  border-right: 4px solid;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
/* Don't centre the tables in the review wizard reports */
#content .section table.docutils.field-list {
    margin-left: 0;
    margin-right: 0;
}
