/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* A generic class to clear an element. */
.clear {
  clear: both;
  width: 100%;
  height: 1px;
  overflow: hidden;
}
/* Removes as much decoration as possible. */
.nothing {
  border: 0 none;
  border-spacing: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-indent: 0;
}
