RewriteEngine On
RewriteBase /boost-build2

RewriteRule ^doc/html/bbv2/advanced/(.*)$ doc/html/bbv2/overview/$1 [R]
RewriteRule ^(boost-build[.]tar[.]bz2)$ /common/code/boost_download.php/$1 [L]
RewriteRule ^(boost-build[.]zip)$ /common/code/boost_download.php/$1 [L]
RewriteRule ^(.*) /doc/display_build.php/boost-build/boost-build/$1 [L]
