RewriteEngine On
RewriteBase /boost-build2

RewriteRule ^doc/html/bbv2/advanced/(.*)$ /build/doc/html/bbv2/overview/$1 [R=301,L]
RewriteRule ^(boost-build[.]tar[.]bz2)$ "-" [G]
RewriteRule ^(boost-build[.]zip)$ "-" [G]
RewriteRule ^(.*) /build/$1 [R=301,L]
