/*
  Copyright 2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
.webnotes-headline {
  border-bottom: 1px solid #000000;
  margin-bottom: 0em !important;
}
.webnotes-page {
  text-align: right;
  margin: 0em !important;
}
.webnotes-page * {
  font-weight: inherit;
}
.webnotes-edit {
  display: block;
  float: right;
  font-size: 80%;
  text-align: right;
  margin: 0.25em 0em 0.5em 0.5em;
  padding: 0.25em;
  background: #EEEEEE;
  border: #CCCCCC 1px solid;
}
.webnotes-edit .webnotes-dash {
  display: none;
}
.webnotes-edit a, .webnotes-edit a:hover, .webnotes-edit a:visited {
  border: none !important;
}
.webnotes-text {
  margin: 0.25em 0em 0em 0em !important;
  border: 1px solid #CCCCCC !important;
  text-align: left !important;
  padding: 0.5em !important;
}
.webnotes-updated {
  font-size: 80%;
  text-align: center;
  border-top: 1px solid #000000;
  margin: 0em !important;
}
.webnotes-admin {
  font-size: 80%;
  text-align: center;
  padding: 0.25em;
  background: #EEEEEE;
  border: #CCCCCC 1px solid;
}
.webnotes-admin a, .webnotes-admin a:hover, .webnotes-admin a:visited {
  border: none !important;
}
.webnotes-id {
  display: none;
}
.webnotes-email {
  font-style: italic;
}
